{% load static %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load fontawesome_6 %}
{% load auth_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock%}

    <title>{% block title %}{% endblock %}</title>

    <!-- Load bootstrap, jquery and fontawesome-->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'vendor/chosen-js/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/chosen-js/bootstrap-chosen.css' %}">

    {% bootstrap_javascript %}
    <script src="{% static 'vendor/jquery/jquery-3.6.3.min.js' %}"></script>
    {% fontawesome_6_static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% block imports %}{% endblock %}
</head>
<!-- Both "header" and "navbar" will be included in all html pages which extend "base.html" -->
<body>

{% block general_content %}
    <div class="container-fluid" style="background-color: #0a3d62;padding-top:2em;padding-bottom:3em;color:#ffffff;">
        {# Navigation bar #}
        <div class="container" style="border-top: 0.5em solid #ffffff;padding-top:2em;">
            {% block navbar %}
                {% include 'navbar.html' %}
            {% endblock %}
        </div>
    </div>
    {# Content container #}
    <div class="container" style="padding-top: 2em;min-height:75vh;margin-bottom:50px;">
        {# Message notifcation #}
        {% bootstrap_messages %}

        {# Content #}
        {% block content %}
            {# Insert content here #}
        {% endblock %}
    </div>
{% endblock %}

{% block bottom_script %}{% endblock %}
</body>
</html>
