{% extends 'backend/base.html' %}
{% load static %}
{% load i18n %}



{% block tab_name %}
    Assignment
{% endblock tab_name %}

{% block title %}
    Assignment
{% endblock title %}

{% block content %}
    <div id="assignment-topBar">
        <div id="searchAndFilterDiv">
            <div id="searchbarDiv">
                <label>
                    <input id="searchbar" type="text" placeholder="{% translate "Search course/topic" %}">
                </label>
            </div>
            <div id="filterDiv">
                <button id="filterButton"><i class="fa fa-filter"></i></button>
                <p>CP:</p>
                <div class="Filter-dropdown">
                    Choose CP
                    <ul class="Filter-dropdown-list">
                        {% for i in range %}
                            <li>
                                <label>
                                    <input type="checkbox" class="cp" value={{ i }} name={{ i }} checked/>{{ i }}
                                </label>
                            </li>
                        {% endfor %}
                        <li>
                            <label>
                                <input type="checkbox" class="cp" value="-1" name=">10" checked/>>10
                            </label>
                        </li>

                    </ul>
                </div>
                <p>Course Type:</p>
                <div class="Filter-dropdown">
                    Choose Course Type
                    <ul class="Filter-dropdown-list">
                        {% for courseType in course_types %}
                            <li>
                                <label>
                                    <input type="checkbox" class="courseType" value={{ courseType }} name=courseType
                                           checked/>{{ courseType }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <p>Faculty:</p>
                <div class="Filter-dropdown">
                    Choose Faculty
                    <ul class="Filter-dropdown-list">
                        {% for faculty in faculties %}
                            <li>
                                <label>
                                    <input type="checkbox" class="faculty" value={{ faculty }} name=faculty
                                           checked/>{{ faculty }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="user-feedback"></div>
    </div>

    <div id="assignment-content">
        <div class="section" id="topics">
            <div class="section-inner">
                <span>Topics</span>
                <div class="inner-list">
                    {# wenn false werden keine kurse mehr angezeigt sondern nur noch topics #}
                    {% if show_course %}
                        {% for topics_of_course in topics_of_courses %}
                            <div class="topics_of_course inner-list-item"
                                 data-courseid="{{ topics_of_course.course.id }}">{{ topics_of_course.course.title }}
                                {% for topic in topics_of_course.topics %}
                                    <div class="topic field"
                                         data-topicid="{{ topic.id }}"
                                         data-cp="{{ topics_of_course.course.cp }}"
                                         data-faculty="{{ topics_of_course.course.faculty }}"
                                         data-course_type="{{ topics_of_course.course.type }}">
                                        {{ topic.title }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for topics_of_course in topics_of_courses %}
                            <div class="course topics_of_course inner-list-item">
                                {% for topic in topics_of_course.topics %}
                                    <div class="topic field"
                                         data-topicid="{{ topic.id }}">{{ topic.title }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="assignment-application" class="section">
            <div class="section-inner" id="assignments-div">
                <span id="topicSpan">Assignments</span>
                <div id="assignments" class="inner-list">
                    Select a topic to do assignments here.
                </div>
            </div>
            <div class="section-inner" id="applications-div">
                <span>Applications</span>
                <div id="applications" class="inner-list">
                </div>
            </div>
        </div>
        <div class="section" id="groupdetails" data-applicationid="-1">
            <span>Group Details</span>
            <p class="description">Please click on the info button on an application.</p>
            <div class="section-inner members" style="display: none;">
                <p>Group Members <i class="icon fa fa-chevron-up"></i></p>

                <div class="inner-list" style="display: none">
                </div>
            </div>
            <div class="section-inner choices" style="display: none;">
                <p>Choices in current collection <i class="icon fa fa-chevron-up" style="rotate: 180deg;"></i></p>

                <div class="inner-list">
                </div>

            </div>
        </div>

        <div id="assignment-modal">
            <div class="modal-content">
                <div class="title"><span>Topic Title Placeholder</span><i class="fa fa-times"></i></div>
                <div class="dragdrop-container">
                    <div class="section-inner" id="assignments-div">
                        <span id="topicSpan">Assignments</span>
                        <div class="assignments inner-list">

                        </div>
                    </div>
                    <div class="section-inner" id="applications-div">
                        <span>Applications</span>
                        <div class="applications inner-list ui-droppable">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Script block for modal assignment -->
    <script>
        const slotsModal = new Map();
        const applicationsModal = new Map();

        /**
         * A class representing a slot in the modal
         */
        class ModalSlot {
            constructor(slotID, minSlotSize, maxSlotSize) {
                this.id = slotID;
                this.minSlotSize = minSlotSize;
                this.maxSlotSize = maxSlotSize;
                this.nowAssignedSize = 0;
                this.applications = new Map();
                this.div = $('<div class="slot inner-list-item droppable" data-slotid="' + this.id + '"></div>');
                this.div.droppable({
                    accept: ".modalApplication",
                    hoverClass: "drop-hover",
                    drop: (event, ui) => this.handleDrop(event, ui)
                })
                this.updateDiv()
                $('#assignment-modal .assignments').append(this.div);
            }

            /**
             * Handles a drop on this slot
             * @param event the drop event
             * @param ui the ui
             */
            handleDrop(event, ui) {
                console.log("dropping into " + this.id);
                const drag = ui.draggable;

                let application = applicationsModal.get(parseInt(drag.data('applicationid')));
                let oldSlotID = application.slotID;

                if (oldSlotID === this.id)
                    return;

                infoPopup("wait", "Waiting for server response");

                if (oldSlotID !== -1) {
                    //switch from slot to another
                    console.log("Switch from slot " + oldSlotID + " to " + this.id)
                    $.ajax({
                            data: {
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                                action: "changeAssignment",
                                applicationID: application.id,
                                oldSlotID: oldSlotID,
                                newSlotID: this.id
                            },
                            method: "POST",
                            dataType: "json",
                            success: this.handelDropServerResponseChange(application)
                        }
                    );
                } else {
                    //new assignment
                    console.log("Creating new assignment for slot " + this.id)
                    $.ajax({
                            data: {
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                                action: "newAssignment",
                                applicationID: application.id,
                                slotID: this.id
                            },
                            method: "POST",
                            dataType: "json",
                            success: this.handleDropServerResponseNew(application)
                        }
                    );
                }
            }

            /**
             * The handler for a drop when the application was previously in another slot
             * @param application The application
             * @return {(function(*): void)|*} the ajax success handler
             */
            handelDropServerResponseChange(application) {
                const slot = this
                return function (data) {
                    const applicationAccepted = data["requestStatus"];
                    const applicationAcceptedText = data["text"];

                    if (applicationAccepted) {
                        slotsModal.get(application.slotID).removeApplication(application);
                        slot.addApplication(application);
                        infoPopup("good", applicationAcceptedText)
                    } else
                        infoPopup("bad", applicationAcceptedText)
                };
            }

            /**
             * The handler for a drop when the application was previously not assigned
             * @param application The application
             * @return {(function(*): void)|*} the ajax success handler
             */
            handleDropServerResponseNew(application) {
                const slot = this
                return function (data) {
                    const applicationAccepted = data["requestStatus"];
                    const applicationAcceptedText = data["text"];
                    if (applicationAccepted) {
                        slot.addApplication(application);
                        infoPopup("good", applicationAcceptedText);
                    } else
                        infoPopup("bad", applicationAcceptedText);
                };
            }

            /**
             * Adds an application to this slot and updates the application accordingly. This does not check for any regulations
             * @param application the application to add
             */
            addApplication(application) {
                console.log("Adding application " + application.id + " to slot " + this.id);
                this.applications.set(application.id, application);
                this.nowAssignedSize += application.students.length;
                if (application.slotID === -1) {
                    application.collectionFullfilled = true;
                    updateApplicationsPossibleAssignments(applicationsModal);
                }
                application.slotID = this.id;
                this.updateDiv();
            }

            /**
             * Removes an application from this slot and updates the application accordingly. This does not check for any regulations
             * @param application the application to remove
             */
            removeApplication(application) {
                console.log("Removing application " + application.id + " to slot " + this.id);
                this.applications.delete(application.id);
                this.nowAssignedSize -= application.students.length;
                application.collectionFullfilled = false;
                updateApplicationsPossibleAssignments(applicationsModal);
                application.slotID = -1;
                this.updateDiv();
            }

            /**
             * Updates the div of this slot. Consist of a status (name + icon), current assignments and placeholders
             */
            updateDiv() {
                console.log("Updating slot " + this.id + " new size= " + this.nowAssignedSize);
                $('.slot[data-slotid="' + this.id + '"] .field').detach();
                $('.slot[data-slotid="' + this.id + '"] .status').remove();

                let status = '<div class="status"> Slot ' + this.id;
                if (this.nowAssignedSize === this.maxSlotSize) {
                    status += '<i class="fa  fa-check-circle-o" title="slot fully assigned"></i>';
                } else if (this.nowAssignedSize >= this.minSlotSize) {
                    status += '<i class="fa fa-check" title="slot has remaining unoccupied places"></i>';
                } else {
                    status += '<i class="fa fa-times" title="not enough students assigned"></i>';
                }
                status += '</div>'


                this.div.append($(status))
                for (let application of this.applications.values()) {
                    this.div.append(application.div)
                }
                for (let i = this.nowAssignedSize + 1; i <= this.maxSlotSize; i++) {
                    if (i > this.minSlotSize)
                        this.div.append($('<div class="placeholder field" style="color: white; font-style: italic; background: var(--purple)"> place ' + i + '</div>'))
                    else
                        this.div.append($('<div class="placeholder field" style=" background: var(--lightblue)"> place ' + i + '</div>'))
                }
            }

            remainingSpace() {
                return this.maxSlotSize - this.nowAssignedSize;
            }
        }

        /**
         * A class to represent one Application in the modal
         */
        class ModalApplication {
            constructor(applicationID, students, preference, possibleAssignments, collectionSize, slotID, collectionFullfilled) {
                this.id = applicationID;
                this.preference = preference;
                this.possibleAssignments = possibleAssignments;
                this.collectionSize = collectionSize
                this.slotID = slotID;
                this.students = students;
                this.collectionFullfilled = collectionFullfilled;
                this.div = $('<div class="outer-item modalApplication" data-applicationid="' + applicationID + '"></div>');
                this.updateDiv()

                let container = $('#assignment-modal .modal-content');
                this.div.draggable({
                    revert: 'invalid',
                    helper: 'clone',
                    scroll: false,
                    containment: [
                        container.left,
                        container.top,
                        container.left,
                        container.top
                    ],
                    start: function (event, ui) {
                        ui.helper.width($(this).width());
                        getApplicationGroupDetails(applicationID);
                    }
                })
            }

            updateDiv() {
                $('.modalApplication[data-applicationid="' + this.id + '"] .inner-item').detach();
                let doInfoItem = true;
                for (let student of this.students) {
                    let studItem = $('<div class="inner-item">' + student + '</div>');
                    if (doInfoItem) {
                        doInfoItem = false;
                        let infoItem = $('<div class="group-info"></div>')
                        let preference = $('<div id="group-info-preference" title="preference ranking in affiliated collection">' + '<i class="fa fa-hashtag"></i>' + this.preference + '</div>');
                        let remainingAssignments = $('<div id="group-info-possible-assignments" title="possible remaining assignments / size of affiliated collection"></div>');
                        let remainingAssignmentsTemp = "";
                        if (this.collectionFullfilled || (this.possibleAssignments <= 0 && this.div.parent().parent().attr("id") === "slot")) {
                            remainingAssignmentsTemp += '<i style="color: green" class="fa fa-check"></i>';
                        } else if (this.possibleAssignments <= 0) {
                            remainingAssignmentsTemp += '<i style="color: var(--lightcoral)" class="fa fa-times"></i>';
                        } else {
                            remainingAssignmentsTemp += '<i class="fa fa-th"></i>';
                        }
                        remainingAssignments.append(remainingAssignmentsTemp += this.possibleAssignments + "/" + this.collectionSize)
                        infoItem.append(preference);
                        infoItem.append(remainingAssignments);
                        studItem.append(infoItem)
                    }
                    this.div.append(studItem);
                }
            }

            updatePossibleAssignment() {
                $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "getPossibleAssignmentsForTopic",
                        applicationID: this.id,
                    },
                    method: "POST",
                    dataType: "json",
                    success: data => {
                        console.log("updating application " + this.id + " to " + data['possibleAssignments'])
                        this.possibleAssignments = data['possibleAssignments'];
                        this.updateDiv();
                    }
                })

            }
        }

        /**
         * Handles the modal popup when its opened, loads new slots, assignments and applications
         * @param newTopicID the id of the new topic
         * @param groupName the name of the group that was used to open the modal
         */
        function handleModalOpen(newTopicID, groupName) {
            $('#assignment-modal').show();
            $('#assignment-content .section').addClass('blur');
            //Delete old Content
            $('#assignment-modal .assignments').html("");
            $('#assignment-modal .applications').html("");
            slotsModal.clear();
            applicationsModal.clear();

            infoPopup("wait", "retrieving topic data")
            //Get and load new Data
            doServerRequest();
            infoPopup("good", "loaded topic data")

            /**
             * Request data for the new topic from the server
             */
            function doServerRequest() {
                $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "selectTopic",
                        topicID: newTopicID,
                    },
                    method: "POST",
                    dataType: "json",
                    success: data => {
                        console.log(data)
                        $('#assignment-modal .title span').text(data['topicName'] + ' - via group: ' + groupName);

                        loadSlots(data['topicSlots'], data['topicMinSlotSize'], data['topicMaxSlotSize']);

                        loadApplications(data['applications'])
                    }
                })
            }

            /**
             * Creates {@link Application}s and adds them to either their slot or applications.
             * @param loadedApplications the applications to load
             */
            function loadApplications(loadedApplications) {
                console.log("Loading " + loadedApplications.length + " Applications")
                let application;
                for (let app of loadedApplications) {
                    application = new ModalApplication(app['applicationID'], app['students'], app['preference'], app['possibleAssignmentsForCollection'], app['collectionCount'], app['slotID'], app['collectionFulfilled'], $('#assignment-modal .applications'));
                    applicationsModal.set(application.id, application);
                    if (application.slotID !== -1)
                        slotsModal.get(application.slotID).addApplication(application);
                    else
                        $('#assignment-modal .applications').append(application.div);

                }
            }

            /**
             * Creates {@link Slot}s and adds them to assignments
             * @param count how many slots will be created
             * @param minSize minSize of a slot
             * @param maxSize maxSize of a Slot
             */
            function loadSlots(count, minSize, maxSize) {
                console.log("Loading " + count + " Slots");
                for (let slotID = 1; slotID <= count; slotID++) {
                    slotsModal.set(slotID, new ModalSlot(slotID, minSize, maxSize, $('#assignment-modal .assignments')))
                }

            }
        }

        /**
         * Handles a drop on applications in modal.
         * @return {(function(*, *): void)|*} the jquery drop handler
         */
        function handleDropOnModalApplications() {
            return function (e, ui) {
                const application = applicationsModal.get(parseInt(ui.draggable.data('applicationid')));
                if (application.slotID === -1) {
                    return;
                }
                infoPopup("wait", "Waiting for server response")
                $.ajax({
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            action: "removeAssignment",
                            applicationID: application.id,
                            slotID: application.slotID
                        },
                        method: "POST",
                        dataType: "json",
                        success: (data) => {
                            if (data['requestStatus']) {
                                $('#assignment-modal .applications').append(ui.draggable);
                                slotsModal.get(application.slotID).removeApplication(application);
                                infoPopup("good", data['text'])
                            } else {
                                infoPopup("bad", data['text'])
                            }
                        }
                    }
                );
            }
        }


        /**
         * Handles closing of the modal
         */
        function closeModal() {
            $('#assignment-modal').hide();
            $('#assignment-content .section').removeClass('blur');
            let currentTopic = $('#assignment-content #topics .topic.selected').first().data('topicid');
            handleTopicChange(currentTopic);
            let appID = $('#assignment-content #groupdetails').attr('data-applicationid');
            if (appID !== -1) {
                getApplicationGroupDetails(appID);
                let selApp = $('#application' + appID);
                selApp.addClass('selected');
                if (selApp.length > 0) {
                    selApp.addClass('selected');
                }
            }
        }

        $('#assignment-modal').on('click', function(event) {
            if (event.target === this || event.target === $('#assignment-modal .title i.fa')[0]) closeModal();
        })
    </script>

    <!-- Script block for group details -->
    <script>
        $(document).ready(function () {
            $('#assignment-content #groupdetails .section-inner p').on('click', function () {
                let innerlist = $(this).siblings('.inner-list').first();
                if (innerlist.is(':visible')) {
                    $(this).find('.icon').first().css('rotate', '0deg');
                    innerlist.stop().slideUp();
                } else {
                    $(this).find('.icon').first().css('rotate', '180deg');
                    innerlist.stop().slideDown();
                }
            });

            $('#assignment-application').on('click', '.application', function () {
                $('.application.selected').removeClass('selected');
                $(this).addClass('selected');
                let appID = $(this).attr('id').replace('application', '');
                getApplicationGroupDetails(appID);
            });
        });

        /**
         * Function for retrieving details about the applications group and displaying it
         * @param appID the application id
         */
        function getApplicationGroupDetails(appID) {
            if ($('#assignment-modal').is(':visible'))
                return;
            $('#assignment-content #groupdetails').attr('data-applicationid', appID);
            $('#assignment-content #groupdetails .description').hide();
            $('#assignment-content #groupdetails .section-inner').show();
            $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "selectApplication",
                        applicationID: appID
                    },
                    method: "POST",
                    dataType: "json",
                    success: handleGroupDetailServerResponse()
                }
            );
        }

        /**
         * Function for handling the server response of group details
         */
        function handleGroupDetailServerResponse() {
            return function (data) {
                console.log(data);
                let groupList = $('#groupdetails .members .inner-list');
                groupList.html('');
                data['members'].forEach(function (member) {
                    let html = $('<div class="member inner-item">' + member + '</div>');
                    groupList.append(html);
                });
                let choiceList = $('#groupdetails .choices .inner-list');
                choiceList.html('');
                data['collection'].forEach(function (choice) {
                    let classes = '';
                    if (choice['free_space'] < data['members'].length)
                        classes += ' full';
                    if (data['assigned'].includes(choice['id']))
                        classes += ' assigned';
                    let html =
                        $('<div class="choice inner-item' + classes + '" data-topic-id="' + choice['id'] + '">' +
                            '<div class="name">' +
                            '<i class="fa fa-hashtag"></i>' + choice['priority'] + ' ' + choice['name'] +
                            '</div>' +
                            '<div class="details">' +
                            '<small>Free slots</small>' +
                            choice['free_space'] +
                            '</div>' +
                            '</div>');
                    html.click(function (event) {
                        event.preventDefault();
                        handleModalOpen(choice['id'], data['group_name']);
                    });
                    choiceList.append(html);
                })
            }
        }
    </script>

    <script>
        const slots = new Map();
        const applications = new Map();

        /**
         * A class representing a slot
         */
        class Slot {
            constructor(slotID, minSlotSize, maxSlotSize) {
                this.id = slotID;
                this.minSlotSize = minSlotSize;
                this.maxSlotSize = maxSlotSize;
                this.nowAssignedSize = 0;
                this.applications = new Map();
                this.div = $('<div id="slot' + this.id + '" class="inner-list-item droppable"></div>');
                this.div.droppable({
                    accept: ".application",
                    hoverClass: "drop-hover",
                    drop: (event, ui) => this.handleDrop(event, ui)
                })
                this.updateDiv()
                $('#assignments').append(this.div);
            }

            /**
             * Handles a drop on this slot
             * @param event the drop event
             * @param ui the ui
             */
            handleDrop(event, ui) {
                console.log("dropping into " + this.id);
                const drag = ui.draggable;

                let application = applications.get(parseInt(drag.attr('id').substring(11)));
                let oldSlotID = application.slotID;

                if (oldSlotID === this.id)
                    return;

                infoPopup("wait", "Waiting for server response");

                if (oldSlotID !== -1) {
                    //switch from slot to another
                    console.log("Switch from slot " + oldSlotID + " to " + this.id)
                    $.ajax({
                            data: {
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                                action: "changeAssignment",
                                applicationID: application.id,
                                oldSlotID: oldSlotID,
                                newSlotID: this.id
                            },
                            method: "POST",
                            dataType: "json",
                            success: this.handelDropServerResponseChange(application)
                        }
                    );
                } else {
                    //new assignment
                    console.log("Creating new assignment for slot " + this.id)
                    $.ajax({
                            data: {
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                                action: "newAssignment",
                                applicationID: application.id,
                                slotID: this.id
                            },
                            method: "POST",
                            dataType: "json",
                            success: this.handleDropServerResponseNew(application)
                        }
                    );
                }
            }

            /**
             * The handler for a drop when the application was previously in another slot
             * @param application The application
             * @return {(function(*): void)|*} the ajax success handler
             */
            handelDropServerResponseChange(application) {
                const slot = this
                return function (data) {
                    const applicationAccepted = data["requestStatus"];
                    const applicationAcceptedText = data["text"];

                    if (applicationAccepted) {
                        slots.get(application.slotID).removeApplication(application);
                        slot.addApplication(application);
                        infoPopup("good", applicationAcceptedText)
                    } else
                        infoPopup("bad", applicationAcceptedText)
                };
            }

            /**
             * The handler for a drop when the application was previously not assigned
             * @param application The application
             * @return {(function(*): void)|*} the ajax success handler
             */
            handleDropServerResponseNew(application) {
                const slot = this
                return function (data) {
                    const applicationAccepted = data["requestStatus"];
                    const applicationAcceptedText = data["text"];
                    if (applicationAccepted) {
                        slot.addApplication(application);
                        infoPopup("good", applicationAcceptedText);
                    } else
                        infoPopup("bad", applicationAcceptedText);
                };
            }

            /**
             * Adds an application to this slot and updates the application accordingly. This does not check for any regulations
             * @param application the application to add
             */
            addApplication(application) {
                console.log("Adding application " + application.id + " to slot " + this.id);
                this.applications.set(application.id, application);
                this.nowAssignedSize += application.students.length;
                if (application.slotID === -1) {
                    application.collectionFullfilled = true;
                    updateApplicationsPossibleAssignments(applications);
                }
                application.slotID = this.id;
                this.updateDiv();

                // Update group details
                let selectedApp = $('.application.selected');
                if (selectedApp.length > 0) {
                    let selectedAppID = selectedApp.attr('id').replace('application', '');
                    getApplicationGroupDetails(selectedAppID);
                }
            }

            /**
             * Removes an application from this slot and updates the application accordingly. This does not check for any regulations
             * @param application the application to remove
             */
            removeApplication(application) {
                console.log("Removing application " + application.id + " to slot " + this.id);
                this.applications.delete(application.id);
                this.nowAssignedSize -= application.students.length;
                application.collectionFullfilled = false;
                updateApplicationsPossibleAssignments(applications);
                application.slotID = -1;
                this.updateDiv();
            }

            /**
             * Updates the div of this slot. Consist of a status (name + icon), current assignments and placeholders
             */
            updateDiv() {
                console.log("Updating slot " + this.id + " new size= " + this.nowAssignedSize);
                $('#slot' + this.id + ' .field').detach();
                $('#slot' + this.id + ' .status').remove();

                let status = '<div class="status"> Slot ' + this.id;
                if (this.nowAssignedSize === this.maxSlotSize) {
                    status += '<i class="fa  fa-check-circle-o" title="slot fully assigned"></i>';
                } else if (this.nowAssignedSize >= this.minSlotSize) {
                    status += '<i class="fa fa-check" title="slot has remaining unoccupied places"></i>';
                } else {
                    status += '<i class="fa fa-times" title="not enough students assigned"></i>';
                }
                status += '</div>'


                this.div.append($(status))
                for (let application of this.applications.values()) {
                    this.div.append(application.div)
                }
                for (let i = this.nowAssignedSize + 1; i <= this.maxSlotSize; i++) {
                    if (i > this.minSlotSize)
                        this.div.append($('<div class="placeholder field" style="color: white; font-style: italic; background: var(--purple)"> place ' + i + '</div>'))
                    else
                        this.div.append($('<div class="placeholder field" style=" background: var(--lightblue)"> place ' + i + '</div>'))
                }
            }

            remainingSpace() {
                return this.maxSlotSize - this.nowAssignedSize;
            }
        }

        function biggestOpenSlot() {
            let biggestOpenSlot = 0;
            for (let slot of slots.values()) {
                if (biggestOpenSlot < slot.remainingSpace()) {
                    biggestOpenSlot = slot.remainingSpace();
                }
            }
            return biggestOpenSlot;
        }

        /**
         * Function for updating possible assignments
         * @param applicationsMap The map containing all applications which should get refreshed
         */
        function updateApplicationsPossibleAssignments(applicationsMap) {
            applicationsMap.forEach(app => {
                app.updatePossibleAssignment()
            });
        }

        /**
         * A class to represent one Application
         */
        class Application {
            constructor(applicationID, students, preference, possibleAssignments, collectionSize, slotID, collectionFullfilled) {
                this.id = applicationID;
                this.preference = preference;
                this.possibleAssignments = possibleAssignments;
                this.collectionSize = collectionSize
                this.slotID = slotID;
                this.students = students;
                this.collectionFullfilled = collectionFullfilled;
                this.div = $('<div id="application' + applicationID + '" class="outer-item application"></div>');
                this.updateDiv()

                let container = $('#assignment-application');
                this.div.draggable({
                    revert: 'invalid',
                    helper: 'clone',
                    scroll: false,
                    containment: [
                        container.left,
                        container.top,
                        container.left,
                        container.top
                    ],
                    start: function (event, ui) {
                        ui.helper.width($(this).width());
                        $('.application.selected').removeClass('selected');
                        $(this).addClass('selected');
                        ui.helper.addClass('selected');
                        getApplicationGroupDetails(applicationID);
                    }
                })
            }

            updateDiv() {
                $('#application' + this.id + " .inner-item").detach();
                let doInfoItem = true;
                for (let student of this.students) {
                    let studItem = $('<div class="inner-item">' + student + '</div>');
                    if (doInfoItem) {
                        doInfoItem = false;
                        let infoItem = $('<div class="group-info"></div>')
                        let preference = $('<div id="group-info-preference" title="preference ranking in affiliated collection">' + '<i class="fa fa-hashtag"></i>' + this.preference + '</div>');
                        let remainingAssignments = $('<div id="group-info-possible-assignments" title="possible remaining assignments / size of affiliated collection"></div>');
                        let remainingAssignmentsTemp = "";
                        if (this.collectionFullfilled || (this.possibleAssignments <= 0 && this.div.parent().parent().attr("id") === "slot")) {
                            remainingAssignmentsTemp += '<i style="color: green" class="fa fa-check"></i>';
                        } else if (this.possibleAssignments <= 0) {
                            remainingAssignmentsTemp += '<i style="color: var(--lightcoral)" class="fa fa-times"></i>';
                        } else {
                            remainingAssignmentsTemp += '<i class="fa fa-th"></i>';
                        }
                        let infoButton = $('<i class="info-button fa fa-info-circle"></i>');
                        remainingAssignments.append(remainingAssignmentsTemp += this.possibleAssignments + "/" + this.collectionSize)
                        infoItem.append(preference);
                        infoItem.append(remainingAssignments);
                        infoItem.append(infoButton);
                        studItem.append(infoItem)
                    }
                    this.div.append(studItem);
                }
            }

            updatePossibleAssignment() {
                $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "getPossibleAssignmentsForTopic",
                        applicationID: this.id,
                    },
                    method: "POST",
                    dataType: "json",
                    success: data => {
                        console.log("updating application " + this.id + " to " + data['possibleAssignments'])
                        this.possibleAssignments = data['possibleAssignments'];
                        this.updateDiv();
                    }
                })

            }
        }

        /**
         * Handles a click on another topic, loads new slots, assignments and applications
         * @param newTopicID the id of the new topic
         */
        function handleTopicChange(newTopicID) {
            //Look for selected group details
            let selectedApp = $('.application.selected');
            let selectedAppID = -1;
            if (selectedApp.length > 0)
                selectedAppID = parseInt(selectedApp.attr('id').replace('application', ''));

            //Delete old Content
            $('#assignments').html("")
            $('#applications').html("")
            slots.clear();
            applications.clear();

            infoPopup("wait", "retrieving topic data")
            //Get and load new Data
            doServerRequest();
            infoPopup("good", "loaded topic data")

            /**
             * Request data for the new topic from the server
             */
            function doServerRequest() {
                $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "selectTopic",
                        topicID: newTopicID,
                    },
                    method: "POST",
                    dataType: "json",
                    success: data => {
                        console.log(data)

                        loadSlots(data['topicSlots'], data['topicMinSlotSize'], data['topicMaxSlotSize']);

                        loadApplications(data['applications'])
                    }
                })
            }

            /**
             * Creates {@link Application}s and adds them to either their slot or applications.
             * @param loadedApplications the applications to load
             */
            function loadApplications(loadedApplications) {
                console.log("Loading " + loadedApplications.length + " Applications")
                let application;
                for (let app of loadedApplications) {
                    application = new Application(app['applicationID'], app['students'], app['preference'], app['possibleAssignmentsForCollection'], app['collectionCount'], app['slotID'], app['collectionFulfilled']);
                    applications.set(application.id, application);
                    if (application.slotID !== -1)
                        slots.get(application.slotID).addApplication(application);
                    else
                        $('#applications').append(application.div);

                    if (selectedAppID !== -1 && application.id === selectedAppID)
                        application.div.addClass('selected');
                }
            }

            /**
             * Creates {@link Slot}s and adds them to assignments
             * @param count how many slots will be created
             * @param minSize minSize of a slot
             * @param maxSize maxSize of a Slot
             */
            function loadSlots(count, minSize, maxSize) {
                console.log("Loading " + count + " Slots");
                for (let slotID = 1; slotID <= count; slotID++) {
                    slots.set(slotID, new Slot(slotID, minSize, maxSize))
                }

            }
        }

        /**
         * Displays a popup with information
         * @param type the type of the message (good,bad,info)
         * @param msg the message to show
         */
        function infoPopup(type, msg) {
            const userFeedback = $('#user-feedback');
            let userFeedbackClone = userFeedback.clone()
            userFeedbackClone.removeClass("good bad info wait")
            userFeedbackClone.addClass(type)
            userFeedbackClone.html(msg);
            if (type === "wait") {
                userFeedbackClone.append('<i class="fa fa-circle-o-notch fa-spin" style="margin-left: 3px"></i>');
            }
            userFeedback.replaceWith(userFeedbackClone)
        }

        selectedCP = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -1];

        selectedCourseTypes = []
        {% for courseType in course_types %}
            selectedCourseTypes.push("{{ courseType }}")
        {% endfor %}

        selectedFaculties = []
        {% for faculty in faculties %}
            selectedFaculties.push("{{ faculty }}")
        {% endfor %}

        /**
         * Checks if the given topic should be shown according to the selected filters.
         * @param topic The topic to check.
         * @returns {boolean} true, if the given topic div should be visible according to the selected filters.
         */
        function applyTopicFilter(topic) {
            if ($(topic).data("cp") <= 10) {
                if (!selectedCP.some(item => item === $(topic).data("cp"))) {
                    return false
                }
            } else {
                if (!selectedCP.some(item => item === -1)) {
                    return false;
                }
            }

            if (!selectedCourseTypes.some(item => item === $(topic).data("course_type"))) {
                return false;
            }

            return selectedFaculties.some(item => item === $(topic).data("faculty"));
        }

        /**
         * Checks if the given topic should be shown according to the searchbar input.
         * @param topic The topic to check.
         * @returns {boolean} true, if the given topic div should be visible according to the searchbar input.
         */
        function applyTopicSearchbarFilter(topic) {
            let searchbar = $('#assignment-topBar #searchbar');

            if (searchbar.val() === "") {
                return true;
            }

            let search_term = searchbar.val().toLowerCase();
            let topicName = $(topic).text().toLowerCase();
            let courseName = $(topic).parent().text().toLowerCase();

            return topicName.includes(search_term) || courseName.includes(search_term);
        }

        /**
         * Checks if the given course should be shown according to the selected filters.
         * Assumes that visibility of the topics has already been updated according to applyTopicsFilter(topic).
         * @param course The course to check.
         * @returns {boolean} true, if the given course div should be visible according to the selected filters.
         */
        function applyCourseFilter(course) {
            let hasChild = false;

            $(course).children(".topic").each(function () {
                if ($(this).css("display") !== "none") {
                    hasChild = true;
                }
            });

            return hasChild;


        }

        /**
         * Checks if the given course should be shown according to the searchbar input.
         * @param course The course to check.
         * @returns {boolean} true, if the given course div should be visible according to the searchbar input.
         */
        function applyCourseSearchbarFilter(course) {
            let searchbar = $('#assignment-topBar #searchbar');

            if (searchbar.val() === "") {
                return true;
            }

            let search_term = searchbar.val().toLowerCase();
            let courseName = $(course).text().toLowerCase();
            if (!courseName.includes(search_term)) {

                let hasMatchingChild = false
                $(course).children(".topic").each(function () {
                    if ($(this).text().toLowerCase().includes(search_term)) {
                        hasMatchingChild = true;
                    }
                });

                if (!hasMatchingChild) {
                    return false;
                }
            }

            return true;
        }

        /**
         * Handles when a choiceBox of the CP filter is clicked.
         */
        function CPCheckBoxHandler() {
            if (!this.checked) {
                selectedCP.splice(selectedCP.findIndex(item => item === parseInt($(this).val())), 1);
            } else {
                selectedCP.push(parseInt($(this).val()));
            }

            updateTopicsAndCourses();
        }

        /**
         * Handles when a choiceBox of the course type filter is clicked.
         */
        function courseTypeCheckBoxHandler() {
            if (!this.checked) {
                selectedCourseTypes.splice(selectedCourseTypes.findIndex(item => item === $(this).val()), 1);
            } else {
                selectedCourseTypes.push($(this).val());
            }

            updateTopicsAndCourses();
        }

        /**
         * Handles when a choiceBox of the faculty filter is clicked.
         */
        function facultyCheckBoxHandler() {
            if (!this.checked) {
                selectedFaculties.splice(selectedFaculties.findIndex(item => item === $(this).val()), 1);
            } else {
                selectedFaculties.push($(this).val());
            }

            updateTopicsAndCourses();
        }

        /**
         * Hides the given topic and removes the selection if it was selected.
         * @param topic The topic to hide.
         */
        function hideTopic(topic) {
            $(topic).hide();
            if ($(topic).hasClass("selected")) {
                $('#assignments, #applications').html('');
                $('.topic.selected').removeClass('selected');
            }
        }

        /**
         * Shows the given topic.
         * @param topic The topic to show.
         */
        function showTopic(topic) {
            $(topic).show();
        }

        /**
         * Hides the given course and all of its topics.
         * @param course The topic to hide.
         */
        function hideCourse(course) {
            $(course).hide();
            $(course).children(".topic").each((index, topic) => hideTopic(topic));
        }

        /**
         * Shows the given course. Does not change the visibility of its topics.
         * @param course The topic to show.
         */
        function showCourse(course) {
            $(course).show();
        }

        /**
         * Updates the visibility of all topics and courses according to the selected filters and searchbar input
         */
        function updateTopicsAndCourses() {
            let topics = $(".topic");
            let courses = $(".topics_of_course.inner-list-item");

            topics.each((index, topic) => {
                if (applyTopicFilter(topic)) showTopic(topic);
                else hideTopic(topic);
            });

            courses.each((index, course) => {
                if (applyCourseFilter(course)) showCourse(course);
                else hideCourse(course);
            });

            courses.each((index, course) => {
                if (!applyCourseSearchbarFilter(course)) hideCourse(course);
            });

            topics.each((index, topic) => {
                if (!applyTopicSearchbarFilter(topic)) hideTopic(topic);
            });
        }

        /**
         * Handles a drop on applications.
         * @return {(function(*, *): void)|*} the jquery drop handler
         */
        function handleDropOnApplications() {
            return function (e, ui) {
                const application = applications.get(parseInt(ui.draggable.attr("id").substring(11)));
                if (application.slotID === -1) {
                    return;
                }
                infoPopup("wait", "Waiting for server response")
                $.ajax({
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            action: "removeAssignment",
                            applicationID: application.id,
                            slotID: application.slotID
                        },
                        method: "POST",
                        dataType: "json",
                        success: (data) => {
                            if (data['requestStatus']) {
                                $('#applications').append(ui.draggable);
                                slots.get(application.slotID).removeApplication(application);

                                // Update group details
                                let selectedAppID = $('.application.selected').attr('id').replace('application', '');
                                getApplicationGroupDetails(selectedAppID);

                                infoPopup("good", data['text'])
                            } else {
                                infoPopup("bad", data['text'])
                            }
                        }
                    }
                );
            }
        }

        // --- MAIN FUNCTION --- //
        $(document).ready(
                function () {
                    // --- SEARCHBAR HANDLING --- //
                    let searchbar = $('#assignment-topBar #searchbar');
                    searchbar.val('');
                    searchbar.keyup(updateTopicsAndCourses);

                    // --- Filter Handling --- //
                    $(".cp").change(CPCheckBoxHandler);
                    $(".courseType").change(courseTypeCheckBoxHandler);
                    $(".faculty").change(facultyCheckBoxHandler);

                    // --- TOPIC CHANGE HANDLING --- //
                    $('.topic:not(.selected)').click(function (e) {
                        e.preventDefault();
                        $('.topic').removeClass('selected');
                        $(this).addClass('selected');

                        $('#assignments').html('');
                        $('#applications').html('');

                        let topic_id = $(this).attr('data-topicid');

                        handleTopicChange(topic_id);
                    })

                    // --- INIT DROPDOWN FILTERS --- //
                    $(".Filter-dropdown").click(function () {
                        $(this).toggleClass("is-active");
                    });

                    document.addEventListener("click", e => {
                        if (!e.target.closest(".Filter-dropdown")) {
                            $(".Filter-dropdown").removeClass("is-active")
                        }
                    })

                    $(".Filter-dropdown ul").click(function (e) {
                        e.stopPropagation();
                    });

                    // --- INIT APPLICATIONS DIV --- //
                    $('#applications').droppable({
                        accept: ".application",
                        hoverClass: "drop-hover",
                        drop: handleDropOnApplications()
                    })

                    // --- INIT APPLICATIONS DIV FOR MODAL --- //
                    $('#assignment-modal .applications').droppable({
                        accept: ".modalApplication",
                        hoverClass: "drop-hover",
                        drop: handleDropOnModalApplications()
                    })

                    // --- PRESELECT TOPIC IF GETTER IS SET --- //
                    {% if topicid != False %}
                        $('#topics .topic[data-topicid="{{ topicid }}"]').click();
                    {% endif %}
                }
            )
    </script>
{% endblock content %}
