{% extends 'backend/base.html' %}
{% load static %}
{% load i18n %}



{% block tab_name %}
    Assignment
{% endblock tab_name %}

{% block title %}
    Assignment
{% endblock title %}

{% block content %}
    <div id="assignment-topBar">
        <label>
            <input id="searchbar" type="text" placeholder="{% translate "Search course/topic" %}">
        </label>
        <div id="user-feedback"></div>
    </div>

    <div id="assignment-content">
        <div class="section" id="topics">
            <div class="section-inner">
                <span>Topics</span>
                <div class="inner-list">
                    {# wenn false werden keine kurse mehr angezeigt sonder nur noch topics #}
                    {% if show_course %}
                        {% for topics_of_course in topics_of_courses %}
                            <div class="topics_of_course inner-list-item"
                                 data-courseid="{{ topics_of_course.course.id }}">{{ topics_of_course.course.title }}
                                {% for topic in topics_of_course.topics %}
                                    <div class="topic field"
                                         data-topicid="{{ topic.id }}">{{ topic.title }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for topics_of_course in topics_of_courses %}
                            <div class="course topics_of_course inner-list-item">
                                {% for topic in topics_of_course.topics %}
                                    <div class="topic field"
                                         data-topicid="{{ topic.id }}">{{ topic.title }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-inner" id="assignments-div">
                <span id="topicSpan">Assignments</span>
                <div id="assignments" class="inner-list">
                    Select a topic to do assignments here.
                </div>
            </div>
            <div class="section-inner" id="applications-div">
                <span>Applications</span>
                <div id="applications" class="inner-list">
                </div>
            </div>
        </div>
        <div class="section"> this is a very nice section</div>
    </div>


    <script>
        let slots = []

        //Defines one slot of the assignments
        class Slot {
            constructor(slotID, minSlotSize, maxSlotSize) {
                this.slotID = slotID;
                this.minSlotSize = minSlotSize;
                this.maxSlotSize = maxSlotSize;
                this.nowAssignedSize = 0;
                this.applications = [];
                this.div = $('<div id="slot-' + this.slotID + '" class="slot"> t </div>');
                $('#assignments').append(this.div);
                this.updateDiv();
            }

            toString() {
                return "Slot " +
                    "slotID: " + this.slotID + "\n" +
                    "minSlotSize " + this.minSlotSize + "\n" +
                    "maxSlotSize " + this.maxSlotSize + "\n" +
                    "nowAssignedSize " + this.nowAssignedSize + "\n" +
                    "applications " + this.applications
            }

            /**
             * Creates a function that handles when an application is dropped on a slot, and it wasn't assigned before
             * @param drag the draggable application html object
             * @param slot the new assigned slot
             * @returns the created function
             */
            handleDropServerResponseNew(drag, slot) {
                return function (data) {
                    const applicationAccepted = data["requestStatus"];
                    const applicationAcceptedText = data["text"];

                    if (applicationAccepted) {
                        slot.addApplication(drag);
                        drag.attr("slot", slot.slotID)
                        infoPopup("good", applicationAcceptedText);
                    } else
                        infoPopup("bad", applicationAcceptedText);
                };
            }

            /**
             * Creates a function that handles when an application is dropped on a slot, and it was assigned before
             * @param drag the draggable application html object
             * @param slot the new assigned slot
             * @param oldSlotID the old assigned slot
             * @returns the created function
             */
            handleDropServerResponseChange(drag, slot, oldSlotID) {
                return function (data) {
                    const applicationAccepted = data["requestStatus"];
                    const applicationAcceptedText = data["text"];

                    if (applicationAccepted) {
                        slots[oldSlotID - 1].removeApplication(drag);
                        slot.addApplication(drag);
                        infoPopup("good", applicationAcceptedText)
                    } else
                        infoPopup("bad", applicationAcceptedText)

                };
            }

            /**
             * Creates a function that handles when that handles every drop into a slot
             * @param slot the handled slot
             * @returns the created slot
             */
            dropInto(slot) {
                return function (e, ui) {
                    const drag = ui.draggable;

                    let applicationID = parseInt(drag.attr("data-applicationid"));
                    let oldSlotID = parseInt(drag.attr('data-slot'))

                    infoPopup("info", "Waiting for server response")

                    if (drag.parent().hasClass("slot")) {
                        //switch from slot to another
                        $.ajax({
                                data: {
                                    csrfmiddlewaretoken: "{{ csrf_token }}",
                                    action: "changeAssignment",
                                    applicationID: applicationID,
                                    oldSlotID: oldSlotID,
                                    newSlotID: slot.slotID
                                },
                                method: "POST",
                                dataType: "json",
                                success: slot.handleDropServerResponseChange(drag, slot, oldSlotID)
                            }
                        );
                    } else {
                        //new assignment
                        $.ajax({
                                data: {
                                    csrfmiddlewaretoken: "{{ csrf_token }}",
                                    action: "newAssignment",
                                    applicationID: applicationID,
                                    slotID: slot.slotID
                                },
                                method: "POST",
                                dataType: "json",
                                success: slot.handleDropServerResponseNew(drag, slot)
                            }
                        );
                    }
                };
            }

            /**
             * Updates the div associated to this slot
             */
            updateDiv() {
                let html = $('<div id="slot-' + this.slotID + '" class="slot assignment inner-list-item" data-min_slot_size="' + this.minSlotSize + '" data-max_slot_size="' + this.maxSlotSize + '" data-actual_slot_size="0"> Slot ' + this.slotID + '</div>')

                for (let application of this.applications) {
                    html.append(application)
                }
                for (let i = this.nowAssignedSize + 1; i <= this.maxSlotSize; i++) {
                    if (i > this.minSlotSize)
                        html.append($('<div class="placeholder field" style="background: lightgreen"> place ' + i + '</div>'))
                    else
                        html.append($('<div class="placeholder field" style="background: lightcoral "> place ' + i + '</div>'))
                }

                $('#slot-' + this.slotID).replaceWith(html.droppable({
                    accept: ".application",
                    hoverClass: "drop-hover",
                    drop: this.dropInto(this)
                }));
                this.div = html
            }

            /**
             * Updates the div associated to this slot and adds a temporary item
             * @param app the temporary item
             */
            updateDivTempItem(app) {
                let html = $('<div id="slot-' + this.slotID + '" class="slot assignment inner-list-item" data-min_slot_size="' + this.minSlotSize + '" data-max_slot_size="' + this.maxSlotSize + '" data-actual_slot_size="0"> Slot ' + this.slotID + '</div>')
                for (let application of this.applications) {
                    html.append(application)
                }
                for (let i = this.nowAssignedSize + 1; i <= this.maxSlotSize; i++) {
                    if (i > this.minSlotSize)
                        html.append($('<div class="placeholder field" style="background: lightgreen"> place ' + i + '</div>'))
                    else
                        html.append($('<div class="placeholder field" style="background: lightcoral "> place ' + i + '</div>'))
                }

                html.append(app)
                $('#slot-' + this.slotID).replaceWith(html.droppable({
                    accept: ".application",
                    hoverClass: "drop-hover",
                    drop: this.dropInto(this)
                }));
            }

            /**
             * Adds an application to this slot
             * @param application the added application
             */
            addApplication(application) {
                this.applications.push(application);
                this.nowAssignedSize += parseInt(application.attr('data-student-size'))
                application.attr("data-slot", this.slotID)
                this.updateDiv();
            }

            /**
             * Removes an application from this Slot
             * @param application the removed application
             */
            removeApplication(application) {
                const index = this.applications.indexOf(application);
                if (index > -1) {
                    this.applications.splice(index, 1);
                }
                application.attr("data-slot", -1)
                this.nowAssignedSize -= parseInt(application.attr('data-student-size'))
                this.updateDivTempItem(application);
            }
        }

        /**
         * Handles when a user changes the selcted topic
         * @param topic_id the new selected topic
         */
        function topicChanged(topic_id) {
            $('#assignments').html("")
            $('#applications').html("")
            slots = []

            $.ajax({
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: "selectTopic",
                    topic_id: topic_id,
                },
                method: "POST",
                dataType: "json",
                success: function (data) {
                    //Create Slots
                    let slotCount = parseInt(data['topicSlots']);

                    for (let slotID = 1; slotID <= slotCount; slotID++) {
                        let slot = new Slot(slotID, data['topicMinSlotSize'], data['topicMaxSlotSize'])
                        slots.push(slot);
                    }

                    //Create Applications
                    let applications = data['applications']
                    applications.forEach(
                        function (application) {
                            let html = createDragItem(application);
                            $(html).appendTo('#applications')
                        });

                    //Create Assignments
                    let assignments = data['assignments'];
                    for (let assignment of assignments) {
                        slots[assignment.slotID - 1].addApplication(createDragItem(assignment))
                    }
                }
            })
        }

        /**
         * Creates a function that handles when an application is dropped
         * @returns The created function
         */
        function handleDropOnApplications() {
            return function (e, ui) {
                const drag = ui.draggable;

                if (!drag.parent().hasClass("slot")) {
                    return
                }


                let applicationID = parseInt(drag.attr("data-applicationid"))
                let slotID = parseInt(drag.attr("data-slot"))

                infoPopup("info", "Waiting for server response")
                $.ajax({
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            action: "removeAssignment",
                            applicationID: applicationID,
                            slotID: slotID
                        },
                        method: "POST",
                        dataType: "json",
                        success: (data) => {
                            if (data['requestStatus']) {
                                slots[slotID - 1].removeApplication(drag);
                                $('#applications').append(drag);
                                infoPopup("good", data['text'])
                            } else {
                                infoPopup("bad", data['text'])
                            }

                        }
                    }
                );

            }
        }

        /**
         * Displays a popup with information
         * @param type the type of the message (good,bad,info)
         * @param msg the message to show
         */
        function infoPopup(type, msg) {
            const userFeedback = $('#user-feedback');
            let userFeedbackClone = userFeedback.clone()
            userFeedbackClone.removeClass("good bad info")
            userFeedbackClone.addClass(type)
            userFeedbackClone.html(msg)
            userFeedback.replaceWith(userFeedbackClone)
        }

        /**
         * Create one draggable item (for one application)
         * @param val data from query
         * @return {*|jQuery} the html object
         */
        function createDragItem(val) {
            let students = val['students']
            let html = '<div class="application outer-item" data-applicationid="' + val['applicationID'] + '" data-student-size="' + students.length + '" data-slot="-1">'
            for (let student of students) {
                html += '<div class="student inner-item" data-student-pk="' + student + '">' + student + '</div>'
            }
            html += '</div>'
            return $(html).draggable({
                revert: true,
                revertDuration: 0,
                stack: ".dragndrop",
                helper: 'clone',
                scroll: false,
                start: function (event, ui) {
                    ui.helper.width($(this).width());
                }
            });
        }

        // --- MAIN FUNCTION --- //
        $(document).ready(
            function () {
                // --- SEARCHBAR HANDLING --- //
                let searchbar = $('#assignment-topBar #searchbar');
                searchbar.val('');
                searchbar.keyup(function () {
                    let elements = $('.topics_of_course, .topic, .course');
                    $('#assignments, #applications').html('');
                    $('.topic.selected').removeClass('selected');
                    if ($(this).val().length === 0 || $(this).val() === "") {
                        elements.show();
                        return;
                    }

                    let search_term = $(this).val().toLowerCase();
                    elements.hide();
                    $('.topic, .course').each(function () {
                        let name = $(this).text().toLowerCase();
                        if (name.includes(search_term)) {
                            $(this).parent('.topics_of_course').show();
                            if ($(this).hasClass('topic'))
                                $(this).siblings(('.course:first')).show();
                            else
                                $(this).siblings().show();
                            $(this).show();
                        }
                    });
                });


                // --- TOPIC CHANGE HANDLING --- //
                $('.topic:not(.selected)').click(function (e) {
                    e.preventDefault();
                    $('.topic').removeClass('selected');
                    $(this).addClass('selected');

                    $('#assignments').html('');
                    $('#applications').html('');

                    let topic_id = $(this).attr('data-topicid');

                    topicChanged(topic_id);
                })

                // --- INIT APPLICATIONS DIV --- //
                $('#applications').droppable({
                    accept: ".application",
                    hoverClass: "drop-hover",
                    drop: handleDropOnApplications()
                })
            }
        )
    </script>
{% endblock content %}
