{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block imports %}
        <!-- Imports all important stylesheets and hyper references for all html pages which extend base.html -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/ppsv.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/style.css' %}">


    <!-- JQuery & JQuery UI Integration -->
    <script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'vendor/chart/chart.min.js' %}"></script>

    <!-- Our JS -->
    <script src="{% static 'backend/js/cookie.js' %}"></script>
{% endblock %}
