{% extends 'backend/base.html' %}
{% load static %}
{% load i18n %}



{% block tab_name %}
    Homepage
{% endblock tab_name %}

{% block title %}
    Homepage
{% endblock title %}

{% block additional_buttons %}
    <div id="import-export">
        <a href="/export-applications-and-assignments/" class="adminbtn btn btn-danger navbar-inline-list">Export</a>
    </div>
{% endblock %}

{% block content %}
    <form method="post">
        <button id="automatic-assignment" name="automatic-assignment">Automatic assignment</button>
    </form>
    <script>
        $(document).ready(function () {
            $("#automatic-assignment").click(e => {
                    e.preventDefault();
                    $.ajax({
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            action: "doAutomaticAssignments",
                        },
                        method: "POST",
                        dataType: "json",
                        success: result => alert("Successfull: " + result),
                    })
                }
            )
        });

    </script>

{% endblock content %}

