        .navbar-btn {
            font-weight: 400;
            color: #FFFFFF;
            background-color: #0C8FCC;
            text-decoration: none;
            font-size: 1.2em;
            border: none;
            outline: none;
            padding-right:1em;
            padding-left:1em;
            padding-bottom:0em;
            padding-top:0em;
            font-style: normal;
            font-weight: 800;
        }

        .navbar-btn:hover {
            color: #0a3d62;
        }

        .navbar-btn:focus {
            outline: none;
            color: #0a3d62;
        }

        a {
            color: rgba(150, 175, 255, 1);
        }

        a:hover {
            color: rgba(12, 143, 204, 1);
        }

        .navbar-form {
            padding:0;
            margin:0;
        }