<!-- templates/registration/profile.html -->
{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Profile{% endblock %}

<!-- Student creation -->
{% block content %}
<div style="display: flex;justify-content: center">
    <div style="display: flex;flex-direction: column;width: 20%">
        <div style="text-align: center"><h2>{% translate "Create your student profile" %}</h2></div>
        <div class="profile-warning" style="text-align: center">{% translate "This information cannot be changed after submitting!" %}</div>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ profile_form.as_p }}
            <button class="sub-btn form-control" type="submit">{% translate "Save profile permanently" %}</button>
        </form>
    </div>
</div>
{% endblock %}