{% extends 'base.html' %}

{% load i18n %}
{% load fontawesome_6 %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    {% trans "Select Group Members" %}
{% endblock %}

{% block content %}
    <h2>{% trans "Select Group Members" %}</h2>

    <form method="post" class="post-form">
            {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary float-end" type="submit">{% trans "Continue" %}</button>
    </form>
{% endblock %}

{% block bottom_script %}
    <script src="{% static 'vendor/chosen-js/chosen.jquery.js' %}"></script>
    <script>
        $(function () {
            $('.chosen-select').chosen();
        });
    </script>
{% endblock %}