{% extends 'base.html' %}

{% load i18n %}
{% load fontawesome_6 %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    {% trans "Select Topics" %}
{% endblock %}

{% block imports %}
    <script src="{% static "vendor/multiselect/multiselect.js" %}"></script>
{% endblock %}

{% block content %}
    <h2>{% trans "Select Topics" %}</h2>

    <p>{% trans "Select at least one topic. A higher number of choices will increase the chance that we can assign you a topic. Put your highest priority first." %}</p>

    <form method="post" class="post-form" id="topicSelectionForm">
        {% csrf_token %}
        {% bootstrap_form form exclude='multivalfrom,multivalto' %}

        <div id="multiselectlist" class="row mb-5">



            <div class="form-group col-sm-5">
            {# bootstrap_field form.multivalfrom form_group_class="form-group col-sm-3" #}
			<label for="multivalfrom">{% trans "Available topics" %}</label>
            <select multiple class="form-control mt-2" id="id_multivalfrom" name="multivalfrom" size="8">
                {% for topic in unselected_topics %}
                    <option value="{{ topic.pk }}">{{ topic.title }}</option>
                {% endfor %}
			</select>
		</div>
		<div class="col-sm-1 pt-4">
			<div class="btn-group-vertical w-100" style="width:100%">
				<button type="button" class="btn btn-default col-sm-12 btn-sm" title="Move All" id="move_all_btn"><i class='fas fa-angle-double-right'></i></button>
				<button type="button" class="btn btn-default col-sm-12 btn-sm" title="Move" id="move_btn"><i class='fas fa-angle-right'></i></button>
				<button type="button" class="btn btn-default col-sm-12 btn-sm" title="Remove" id="remove_btn"><i class='fas fa-angle-left'></i></button>
				<button type="button" class="btn btn-default col-sm-12 btn-sm" title="Remove All" id="remove_all_btn"><i class='fas fa-angle-double-left'></i></button>
			</div>
		</div>
		<div class="form-group col-sm-5">
            {# bootstrap_field form.multivalto form_group_class="form-group col-sm-3" #}
            <label for="multivalto">{% trans "Selected topics" %}</label>
			<select multiple class="form-control mt-2" id="id_multivalto" name="multivalto" size="8">
                {% for topic in selected_topics %}
                    <option value="{{ topic.pk }}">{{ topic.title }}</option>
                {% endfor %}
			</select>
		</div>
		<div class="col-sm-1 pt-4">
			<div class="btn-group-vertical" style="width:100%">
				<button type="button" class="btn btn-default col-sm-12 btn-sm" title="Top" id="top_btn"><i class='fas fa-angle-double-up'></i></button>
				<button type="button" class="btn btn-default col-sm-12 btn-sm" title="Up" id="up_btn"><i class='fas fa-angle-up'></i></button>
				<button type="button" class="btn btn-default col-sm-12 btn-sm" title="Down" id="down_btn"><i class='fas fa-angle-down'></i></button>
				<button type="button" class="btn btn-default col-sm-12 btn-sm" title="Bottom" id="bottom_btn"><i class='fas fa-angle-double-down'></i></button>
			</div>
		</div>
	</div>

        <button class="btn btn-primary float-end" type="submit">{% trans "Continue" %}</button>
    </form>
{% endblock %}

{% block bottom_script %}
    <script src="{% static 'vendor/chosen-js/chosen.jquery.js' %}"></script>
    <script>
        $(document).ready(function(){
			assign_btn_action('multiselectlist');

            $("#topicSelectionForm").on("submit", function(event) {
                let selected = $('#multiselectlist #id_multivalto option')
                if(selected.length > 0 )
                {
                    $('#multiselectlist #id_multivalto option').prop('selected', true);
                }
                else
                {
                    alert("{% trans 'You have to select at least one topic' %}");
                    event.preventDefault();
                }
            });
		});
    </script>
{% endblock %}