{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block homepage_navbar_container %}
        <form class="navbar-form" action="{% url 'frontend:homepage' %}" style="float:left;padding-bottom: 0px;">
            <button type="submit" class="navbar-btn" style="color:#0a3d62;padding-top:0.42em;padding-bottom:0.42em;"><i class="fa fa-home fa-lg" aria-hidden="true" style="font-size:26px"></i></button>
        </form>
{% endblock homepage_navbar_container %}


{% block content %}

<form method="post">
    {% csrf_token %}
     <button type="submit" name="1"> Value 1 </button>
    <button type="submit" name="2"> Value 2 </button>
</form>

<form method="post">
    {% csrf_token %}
    <button type="submit" name="2"> Value 2 </button>
</form>

{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'frontend:login' %}">Log In</a>
{% endif %}
{% endblock %}