{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Home" %}{% endblock %}

{% block homepage_navbar_container %}
        <form class="navbar-form" action="{% url 'frontend:homepage' %}" style="float:left;padding-bottom: 0px;">
            <button type="submit" class="navbar-btn" style="color:#0a3d62;padding-top:0.42em;padding-bottom:0.42em;"><i class="fa fa-home fa-lg" aria-hidden="true" style="font-size:26px"></i></button>
        </form>
{% endblock homepage_navbar_container %}


{% block content %}
{% if user.is_authenticated %}
  <div style="display: flex;justify-content: center;position:relative;margin-top:20px">
    <div style="display: flex;justify-content: center; flex-direction: column;border: 3px solid rgba(10,61,98,1);border-radius:3px;padding: 15px 30px;padding-top:-15px;margin-top:5px;width:50%;min-width:500px;">
        <div style="position:relative;z-index:2;background-color:white; border: 2px solid rgba(10,61,98,1); top: -45px; left: 10px;padding: 2px 10px;width:220px;margin-bottom: -35px">
            <h2 style="margin:0px"> What to do next</h2>
        </div>
        {% for msg, link in recommendations.items %}
            <div style="display:flex; flex-direction:row;font-size:18px;margin-bottom:5px">
                <div style="overflow:hidden;text-overflow: ellipsis;width:100%;white-space: nowrap;background-color:white; border: 4px solid rgba(10,61,98,1);border-style: none none none solid;padding: 2px 5px;background-color:rgba(12,143,204,0.2);padding:3px">
                    <span style="margin:0px;"> {{ msg }} </span>
                </div>
                <a href="{% url link %}" class="undecorated-btn" style="padding:8px 10px;background-color:grey;border-radius: 3px; float:right;color:white;margin-left:5px">
                    <i class="fa fa-share" aria-hidden="true"></i>
                </a>
            </div>
        {% endfor %}
    </div>
  </div>
{% else %}
<div style="display: flex;justify-content: center;">
    <div style="display: flex;flex-direction:column;width:40%;min-width:360px;">
        <div style="display: flex;justify-content: center;border: 3px solid rgba(10,61,98,1);border-radius:3px;padding: 15px 30px;">
            <div style="min-width:300px;width: 20%;display: flex;flex-direction: column;text-align: center;">
                <div class="row-cols-sm-1" id="col_1">
                    <form method="post">
                        {% csrf_token %}
                        {{ login_form.as_p }}
                        <button class="sub-btn form-control" style="width: 100%" type="submit">Login</button>
                    </form>
                </div>
                    <div style="display:flex;flex-direction: row;vertical-align: baseline;margin-bottom: 10px">
                    <div style="background-color: #0a3d62;height: 2px;width: 48%;margin-top: 10px;margin-right: 2%"></div>
                        or
                    <div style="background-color: #0a3d62;height: 2px;width: 48%;margin-top: 10px;margin-left: 2%"></div>
                    </div>
                <div class="row-cols-sm-1" style="text-align: center">
                    <h6>You do not have an account yet?</h6>
                    <button class="sub-btn form-control" style="width: 100%" onclick="location.href='{% url 'frontend:register' %}'" type="button">Register</button>
                </div>
            </div>
        </div>
        <div style="display: flex;justify-content: center;border: 3px solid rgba(10,61,98,1);border-radius:3px;padding: 15px 30px;margin-top:5px;text-align:center;">
            <label style="font-size:40px"> Willkommen <br>
                <label style="font-size:18px"> Diese Website dient als Plattform zur Anmeldung für Seminare, Praktika und andere Veranstaltungen.
                Hier kannst kannst Du Themen wählen und über mehrere Veranstaltungen hinweg priorisieren. </label>
            </label>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}