{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {% translate "Overview" %} {% endblock title%}

{% block selection_page_navbar_container %}
       <form class="navbar-form" action="{% url 'frontend:overview' %}" style="float:left;padding-bottom: 0px;">
            <button type="submit" class="navbar-btn" style="color:#0a3d62;padding-top:0.3em;padding-bottom:0.3em;"> {% translate "Overview" %} </button>
       </form>
{% endblock selection_page_navbar_container %}

{% block content %}
<form method="post" style="margin:0px;padding:0px">
    {% csrf_token %}
    <div class="container-fluid" style="display:flex;justify-content:center;font-size:17px">
        <ul class="responsive-table" style="width:80%;padding:0px;margin:0px">
            <li class="table-header" style="padding: 16px;position:relative;font-size:17px;margin-bottom:5px">
{#				The button, which lets the user return to the previous page, will first appear when at least a faculty was chosen.#}
{#				   The buttons' name changes according to the page it will return the user to if pressed.#}
                {% if courses or topics or chosen_topic %}
                <button name="{% if chosen_topic %}choose_course{% elif topics %}choose_faculty{% elif courses %}faculty_view{% endif %}"
                        value="{% if chosen_topic %}{{ chosen_course.id }}|{{ chosen_faculty }}|{{ open_course_info }}{% elif topics %}{{ chosen_faculty }}{% endif %}"
                        class="undecorated-btn" type="submit" style="position:absolute;left:16px;top:16px">
                    <i class="fa fa-caret-square-o-left" aria-hidden="true" style="font-size:25px;color:white;"></i>
                </button>
                {% endif %}
{#				The text of the header changes according to which page the user is on#}
                <div>{% if chosen_topic %} {% translate "Select my Topic" %} {% elif courses %}  {% translate "Choose a Course" %} {% elif topics %} {% translate "Choose a Topic" %} {% else %} {% translate "Choose a Faculty" %} {% endif %} </div>
            </li>

            {% if topics %}
            <li class="table-header" style="padding: 8px;text-align:center;position:relative;background-color:rgba(94, 94, 94, 1);{% if open_course_info %} margin-bottom:0px {% else %} margin-bottom:10px {% endif %}">
                <button name="{% if open_group_select %}open_group_select{% elif chosen_topic %}choose_topic{% else %}choose_course{% endif %}" value="{% if chosen_topic or open_group_select %}{{ chosen_topic.id }}|{{ chosen_course.id }}|{{ chosen_faculty }}|{% if open_course_info %}False{% else %}True{% endif %}{% else %}{{ chosen_course.id }}|{{ chosen_faculty }}|{% if open_course_info %}False{% else %}True{% endif %}{% endif %}" class="button" type="submit"
                        style="color:white;background-color:transparent;width:100%;border:none;outline:none;text-transform: capitalize;font-size: 14px;overflow:hidden;text-overflow: ellipsis;margin-left:30px">
                    <span style="font-weight:500"> {% translate "Information for Course" %} {{ chosen_course.title }} </span>
                    <i class="{% if open_course_info %} fa fa-caret-up {% else %} fa fa-caret-down {% endif %}" aria-hidden="true" style="font-size:24px; position:absolute; z-index:2;left:10px;top:5px"></i>
                </button>
            </li>
                {% if open_course_info %}
                <div class="container-fluid;" style="display:flex;justify-content:center;margin-left:10px;margin-right:10px;margin-bottom:10px;background-color: transparent;box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);justify-content: flex-start; padding:5px; white-space: normal; flex-wrap: wrap;">
                    <div style="width: 50%; float:left; display: inline-block;">
                        <p> <label style="font-weight:500"> {% translate "Organizer" %}: </label> {{ chosen_course.organizer }} </p>
                        <p> <label style="font-weight:500"> {% translate "Course Type" %}: </label> {{ chosen_course.get_type_display }} </p>
                        <p> <label style="font-weight:500"> {% translate "Faculty" %}: </label> {{ chosen_course.get_faculty_display }} </p>
                        <p> <label style="font-weight:500"> {% translate "Language" %}: </label> Sprache </p>
                        <p> <label style="font-weight:500"> {% translate "Min | Max Participants" %}: </label> {% if chosen_course.unlimited %} - | - {% else %} - | {{ chosen_course.max_participants }} {% endif %} </p>
                        <p> <label style="font-weight:500"> {% translate "Registration" %}: </label> {{ chosen_course.registration_start }} - {{ chosen_course.registration_deadline }} </p>
                        <p> <label style="font-weight:500"> CP: </label> {{ chosen_course.cp }} </p>
                        <p> <label style="font-weight:500"> {% translate "Motivation Text" %}: </label> {% if chosen_course.motivation_text %} required {% else %} not required {% endif %}</p>
                    </div>
                    <div style="width: 50%; float:right; display: inline-block;">
                        <label style="font-weight:500"> {% translate "Description" %}: </label>
                        <p> {{ chosen_course.description }} </p>
                    </div>
                </div>

                {% endif %}
                {% if topics != "No_Topics" %}
                    {% if not chosen_topic %}
                    <div class="table-info" style="{% if chosen_topic %} width:60%; {% endif %}">
                        <div style="display:flex;justify-content: space-around;">
                            <div style="flex-basis:100%"> {% translate "Title" %} </div>
                            <div style="flex-basis:100%"> {% translate "Max Participants" %} </div>
                        </div>
                    </div>
                    {% endif %}
                    {% for topic in topics %}
                        {% if not chosen_topic %}
                        <button class="table-btn" name="choose_topic" type="submit" value="{{ topic.id }}|{{ chosen_course.id }}|{{ chosen_faculty }}|False">
                            <div style="display:flex;justify-content: space-around;">
                                <div style="flex-basis:100%;overflow:hidden;text-overflow: ellipsis;"> {{ topic.title }} </div>
                                <div style="flex-basis:100%"> {% if topic.max_participants == 9999 %} &#8734 {% else %} {{ topic.max_participants }} {% endif %} </div>
                            </div>
                        </button>
{#						If a topic has been chosen, the page of the chosen topic opens#}
                        {% else %}
                        <div style="display:flex;flex-direction:row;width:100%">
                            <div style="width:60%">
                            <div class="table-info">
                            <div style="display:flex;justify-content: space-around;">
                                <div style="flex-basis:100%"> {% translate "Title" %} </div>
                                <div style="flex-basis:100%"> {% translate "Max Participants" %} </div>
                            </div>
                            </div>
                            <div class="table-btn">
                                <div style="display:flex;justify-content: space-around;">
                                    <div style="flex-basis:100%;overflow:hidden;text-overflow: ellipsis;"> {{ topic.title }} </div>
                                    <div style="flex-basis:100%"> {% if topic.max_participants == 9999 %} &#8734 {% else %} {{ topic.max_participants }} {% endif %} </div>
                                </div>
                            </div>
                            </div>
                            {% if open_group_select %}
                            <div style="display:grid;width:40%;padding-bottom:10px;padding-left:5px;padding-right:5px;position:relative;">
                                <button name="open_group_create" value="{{ chosen_topic.id }}|{{ chosen_course.id }}|{{ chosen_faculty }}|False" class="undecorated-btn" style="background-color:#ffa826;color:white;border-radius:3px;"> Create new group </button>
                                <label style="text-align:center;position:relative;margin:0px;margin-top:1px">
                                    <div style="background-color:rgba(10,61,98,1);height:2px;width:40%;position:absolute;top:13px;left:15px;"></div>
                                    {% translate "or" %}
                                    <div style="background-color:rgba(10,61,98,1);height:2px;width:40%;position:absolute;top:13px;right:15px;"></div>
                                </label>
                                <select name="group_options" style="text-align: center; height:25px;margin-left:5px;margin-right:5px;">
                                    <option value="-1"> {% translate "Choose my group" %} </option>
                                    {% for group in groups %}
                                     <option value="{{ group.id }}"> {{ group.get_display }} </option>
                                    {% endfor %}
                                </select>
                                <button name="select_with_chosen_group" value="{{ chosen_topic.id }}|{{ chosen_course.id }}|{{ chosen_faculty }}|open_course_info" class="undecorated-btn" style="background-color:#2a8538;color:white;border-radius:3px;"> Select topic with chosen group  </button>
                            </div>
                            {% elif open_group_create %}
                            <div style="display:flex;flex-direction:row;width:40%;padding-left:5px;position:relative;margin-right:0px;">
                                <input id="new_student_id" onkeypress="keyPressListener(event)" name="new_student_id" type="text" style="text-align:center;height:25px;width:40%;margin-top:10px;" placeholder="Tucan-ID">
                                <div>
                                    <button type="submit" name="select_with_new_group" value="{{ chosen_topic.id }}|{{ chosen_course.id }}|{{ chosen_faculty }}|open_course_info"
                                            style="text-align:center;position:absolute;bottom:10px;left:5px;width:44%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background-color:green;color:white;padding-bottom:2px;border:none;outline:none;border-radius:3px">
                                        {% translate "Select with group" %}
                                    </button>
                                </div>
                                <div>
                                    <button id="add_student" class="undecorated-btn" type="submit" name="add_student" value="{{ chosen_topic.id }}|{{ chosen_course.id }}|{{ chosen_faculty }}|open_course_info" style="margin-left:3px;margin-right:5px;font-size:25px;margin-top:10px">
                                        <i class="fa fa-arrow-circle-right" aria-hidden="true" style="color:green"></i>
                                    </button>
                                </div>
                                <div class="table-btn" style="overflow:auto;overflow-x: hidden;height:120px;width:50%;box-sizing: border-box;padding: 1% 5%;margin:0px;">
                                        {% for member in members_in_new_group%}
                                        <div style="position:relative;">
                                        {% if member != request.user.student.tucan_id %}
                                            <button class="undecorated-btn" type="submit" name="remove_student" value="{{ chosen_topic.id }}|{{ chosen_course.id }}|{{ chosen_faculty }}|open_course_info|{{ member }}" style="position:absolute;top:6px;left:8px" >
                                                  <i class="fa fa-minus" aria-hidden="true" style="color:red;font-size:20px"> </i>
                                            </button>
                                            {% endif %}
                                            <input name="member{{forloop.counter0}}" class="group-member" value="{{ member }}" style="padding-left:24px" readonly> <br>
                                        </div>
                                        {% endfor %}
                                </div>
                            </div>
                            {% else %}
                                {% if request.user.is_authenticated and request.user.student %}
                                        {# topics of courses with status Imminent cannot be chosen #}
                                        {% if chosen_course.get_status == "Imminent" %}
                                            <div style="display:grid;width:40%;position:relative">
                                                <label style="position:absolute;top:20%;left:0%;text-align:center">
                                                    <label style="color:red;margin:0px;font-size:20px;"> {% translate "You cannot choose this topic yet. The registration for this topic starts on" %} {{chosen_course.registration_start}}. </label>
                                                </label>
                                            </div>
                                        {% else %}
                                            {% if not topic.id in selected_topics %}
                                                <div style="display:grid;padding:15px;width:40%;margin-bottom:10px;position:relative">
                                                    {# If the topic only allows 1 participant, only the option to select the topic alone will be shown #}
                                                    {% if chosen_topic.max_participants > 1 %} <button name="open_group_select" value="{{ chosen_topic.id }}|{{ chosen_course.id }}|{{ chosen_faculty }}|open_course_info" class="undecorated-btn" style="background-color:#ffa826;color:white;border-radius:3px;margin:5px;"> <i class="fa fa-users" aria-hidden="true" style="font-size:25px;position:absolute;z-index:2;left:25px"> </i>  Select with a group </button> {% endif %}
                                                    <button name="select_topic" value="{{ chosen_topic.id }}|{{ chosen_course.id }}|{{ chosen_faculty }}|open_course_info" class="undecorated-btn" style="background-color:#2a8538;color:white;border-radius:3px;margin:5px"> <i class="fa fa-user" aria-hidden="true" style="font-size:25px;position:absolute;z-index:2;left:30px;"></i> {% if chosen_topic.max_participants > 1 %} Select without a group {% else %} Select topic {% endif %} </button>
                                                </div>
                                            {# If the topic has been already selected by a group in which the user is a member, the page informs the user that he already selected this topic #}
                                            {% else %}
                                                <div style="display:grid;width:40%;position:relative">
                                                    <label style="position:absolute;top:20%;left:25%;text-align:center">
                                                        <label style="color:#14cc52;margin:0px;font-size:25px;"> selected <i class="fa fa-check-square-o" aria-hidden="true"></i> </label> <br>
                                                        <a href="{% url 'frontend:your_selection' %}" style="font-size:20px"> {% translate "See My Selection" %}  <i class="fa fa-link" aria-hidden="true"></i></a>
                                                    </label>
                                                </div>
                                            {% endif %}
                                        {% endif %}
								{# If the user is either not logged in or has no student, he will be informed that he needs to be logged in or complete the registration  #}
                                {% else %}
                                    <div style="display:grid;width:40%;position:relative">
                                        <label style="position:absolute;top:20%;left:0%;text-align:center">
                                            <label style="color:red;margin:0px;font-size:25px;"> {% if not request.user.is_authenticated %} {% translate "You need to be logged in to select a topic." %} {% else %} {% translate "You need to be a student to select a topic." %} {% endif %} </label>
                                        </label>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}
				{# If the chosen course has no topics the user will be informed that the course has no topics #}
                {% else %}
                    <div class="table-info" style="background-color:orange;font-size:14px">
                        {% translate "There are no topics in this course." %}
                </div>
                {% endif %}
                {% if chosen_topic %}
                <li class="table-header" style="padding: 8px;text-align:center;position:relative;background-color:rgba(94, 94, 94, 1);margin-bottom:0px;text-transform: capitalize;font-size: 14px;">
                    <div style="overflow:hidden;text-overflow: ellipsis;margin-left:30px">
                        <span style="font-weight:500"> {% translate "Information for Topic" %} {{ chosen_topic.title }} </span>
                    </div>
                    <i class="fa fa-caret-down" aria-hidden="true" style="font-size:24px; position:absolute; z-index:2;left:10px;top:5px" hidden></i>
                </li>
                <div style="margin-left:10px;margin-right:10px;background-color: transparent;box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);justify-content: flex-start; padding:5px">
                        <label style="font-weight:500"> {% translate "Description" %} </label>
                        <p> {{ chosen_topic.description }} </p>
                        <p> <a href="{{ BASE_DIR }}/media/{{ chosen_topic.file }}">information file</a> </p>
                    </div>
                {% endif %}
            {% endif %}

            {% if courses %}
                {% if courses != "No_Courses" %}
                    <div class="table-info">
                    <div style="display:flex;justify-content: space-around;">
                        <div style="flex-basis:100%"> {% translate "Title" %} </div>
                        <div style="flex-basis:100%"> {% translate "Type" %} </div>
                        <div style="flex-basis:100%"> {% translate "Status" %} </div>
                        <div style="flex-basis:100%"> {% translate "Registration End" %} </div>
                        <div style="flex-basis:100%"> {% translate "Max Participants" %} </div>
                        <div style="flex-basis:100%"> CP </div>
                    </div>
                    </div>
                    {% for course in courses %}
                        {# only courses with status Open or Imminent (registration starts in less than 14 days) are shown in the course overview #}
                        {% if course.get_status == "Open" or course.get_status == "Imminent" %}
                            <button class="table-btn" name="choose_course" type="submit" value="{{ course.id }}|{{ chosen_faculty }}|True">
                                <div style="display:flex;justify-content: space-around;">
                                    <div style="flex-basis:100%;overflow:hidden;text-overflow: ellipsis;"> {{ course.title }} </div>
                                    <div style="flex-basis:100%"> {{ course.get_type_display }} </div>
                                    <div style="flex-basis:100%"> {{ course.get_status }} </div>
                                    <div style="flex-basis:100%"> {{ course.registration_deadline|date }} </div>
                                    <div style="flex-basis:100%"> {% if course.max_participants == 9999 %} &#8734 {% else %} {{ course.max_participants }} {% endif %} </div>
                                    <div style="flex-basis:100%"> {{ course.cp }} </div>
                                </div>
                            </button>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="table-info" style="background-color:orange;font-size:14px">
                        {% translate "There are no courses in this faculty right now." %}
                    </div>
                {% endif %}
            {% endif %}

            {% for faculty_short, faculty_long in faculties.items %}
                <button class="table-btn" name="choose_faculty" type="submit" value="{{ faculty_short }}" style="padding:15px;">
                {{ faculty_long }}
                </button>
            {% endfor %}
        </ul>
    </div>
</form>

<!-- The scroll position is saved and loaded when the page submits a form-->
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = sessionStorage.getItem('scrollpos');
        if (scrollpos) {
            window.scrollTo(0, scrollpos);
            sessionStorage.removeItem('scrollpos');
        }
    });

    window.addEventListener("beforeunload", function (e) {
           sessionStorage.setItem('scrollpos', window.scrollY);
    });
</script>

<!-- If enter is pressed in an input it will trigger a certain button -->
<script>
    function keyPressListener(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                document.getElementById("add_student").click();
            }
    }
</script>
{% endblock %}
