{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
Selection Page
{% endblock title%}


{% block content %}
<!-- This page contains some tables and a search function in order to find courses and topics -->

<!-- "search" contains an input of type search which takes any string and later displays all search results in the tables below  -->
<h2>
    <div name="search_bar" class="container-fluid" style="margin: 1em;">
        <input type="search">
        <i class="fa fa-search fa-1x" aria-hidden="true"></i>
    </div>
</h2>

<!-- /* Dropdown Button */ -->
<style>

.dropbtn {
    display: inline-block;
    padding: 25px 30px;
    text-align: center;
    color: black;
    background-color: white;
    border: none;
    outline: none;
  }

.dropbtn:focus {
    outline: none;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover li {
    background-color: #0a3d62;
    color: white;}


</style>

<!-- Contains 3 tables which contain the faculties, courses and topics which can be selected -->
<style>
.customized-scrollbar {
  display: block;
  overflow: auto;
}

.customized-scrollbar::-webkit-scrollbar {
  height: 7px;
  background-color: white;
}

.customized-scrollbar::-webkit-scrollbar-thumb {
    background: #0C8FCC;
    background-clip: content-box;
    border-radius: 9px;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 15px;
}

.scrollmenu form {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.scrollmenu button {
    display: inline-block;
    justify-content: space-between;
    margin-right: 5px;
    padding: 25px 30px;
    text-align: center;
    color: black;
    background-color: white;
    border: 3px solid #0C8FCC;
    border-radius: 20px;
}

.scrollmenu button:focus {
    outline: none;
    background-color: rgba(12, 143, 204, 0.5);
    color: white;
}

div.scrollmenu button:hover {
  background-color: rgba(12, 143, 204, 0.5);
  color: white;
}

</style>
<div class="container-fluid">
        <ul class="responsive-table">
            <li class="table-header" style="justify-content: center;">
                <div>Faculties</div>
            </li>
            <div class="scrollmenu customized-scrollbar">
                {% for faculty in faculties %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="faculty_button" value="{{ faculty.faculty }}">
                        {{ faculty.faculty }}
                    </button>
                </form>
                {% endfor %}
                <button> Ex1 </button>
                <button> Ex2 </button>
                <button> Ex3 </button>
                <button> Ex4 </button>
                <button> Ex5 </button>
                <button> Ex6 </button>
                <button> Ex7 </button>
                <button> Ex8 </button>
                <button> Ex9 </button>
                <button> Ex10 </button>
                <button> Ex11 </button>
                <button> Ex12 </button>
                <button> Ex13 </button>
                <button> Ex14 </button>
                <button> Ex15 </button>
                <button> Ex16 </button>
                <button> Ex17 </button>
                <button> Ex18 </button>
                <button> Ex19 </button>
                <button> Ex20 </button>
            </div>
        </ul>
</div>

<div class="container-fluid">
    <ul class="responsive-table" style="margin-bottom:5px;">
            <li class="table-header" style="justify-content: center; margin-bottom:0px;">
                Courses
            </li>
    </ul>
    <ul class="responsive-table">
            <li class="table-header" style="padding: 3px;padding-left: 25px;padding-right: 25px;">
                <div style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">
                    Title
                </div>
                <div style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">
                    Type
                </div>
                <div style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">
                    Registration Start
                </div>
                <div style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">
                    Registration End
                </div>
                <div style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">Max
                    Participants
                </div>
                <div style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">CP
                </div>
            </li>
            {% for course in courses %}
                <form method="post" style="margin: 0px; padding: 0px;">
                    {% csrf_token %}
                    <button class="dropbtn" type="submit" name="course_button" {% if chosenCourse == course.id %} value="-1" {% else %} value="{{ course.id }}" {% endif %} style="margin: 0; padding: 0; width:100%">
                        <input name="hidden_info" type="hidden" value="{{ course.id }}">
                        <li class="table-row" {% if chosenCourse == course.id %} style="background-color:#0a3d62;color:white;" {% endif %}>
                            <div style="margin-left: 1em;margin-right: 1em;text-align:left;"
                                 data-label="Course_Title">
                                {{ course.title }}
                            </div>
                            <div style="margin-left: 1em;margin-right: 1em;text-align:left;"
                                 data-label="Course_Type">
                                {{ course.type }}
                            </div>
                            <div style="margin-left: 1em;margin-right: 1em;text-align:left;"
                                 data-label="Course_RegStart">
                                {{ course.registration_start.day }}.{{ course.registration_start.month }}.{{ course.registration_start.year }}
                            </div>
                            <div style="margin-left: 1em;margin-right: 1em;text-align:left;"
                                 data-label="Course_RegEnd">
                                {{ course.registration_deadline.day }}.{{ course.registration_start.month }}.{{ course.registration_start.year }}
                            </div>
                            <div style="margin-left: 1em;margin-right: 1em;text-align:left;"
                                 data-label="Course_MaxPart">
                                {% if course.max_participants == 9999 %}
                                unlimited
                                {% else %}
                                {{ course.max_participants }}
                                {% endif %}
                            </div>
                            <div style="margin-left: 1em;margin-right: 1em;text-align:left;"
                                 data-label="Course_CP">
                                {{ course.cp }}
                            </div>
                        </li>
                    </button>
                </form>
                {% if course.id == chosenCourse %}
                <div style="margin-bottom: 30px;">
                        <li class="table-header" style="justify-content: space-around;margin-bottom:0px; padding:3px;margin-left: 30px;margin-right: 30px;font-size: 12px;margin-bottom: 5px;">
                        Topics
                        </li>
                        <li class="table-header" style="justify-content: space-around;margin-bottom:0px; padding:3px;margin-left: 30px;margin-right: 30px;font-size: 12px;margin-bottom: 5px;">
                        <div style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">
                            Title
                        </div>
                        <div style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">
                            Max Participants
                        </div>
                        <div style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">
                            Infobutton
                        </div>
                        </li>
                        {% if choiceSet %}
                            {% for choice in choiceSet %}
                                <form method="post" style="margin: 0; padding: 0;">
                                {% csrf_token %}
                                    <button class="ppsv-button" type="submit" name="topic_button" {% if choice.id == chosenTopic %} value="-1" {% else %} value="{{ choice.id }}" {% endif %} >
                                        <input name="hidden_info" type="hidden" value="{{ choice.id }}">
                                        <li class="table-row" style="justify-content: space-around;margin-bottom:0px; padding:3px;margin-left: 24px;margin-right: 24px;font-size: 12px;{% if choice.id == chosenTopic %} background-color:#0a3d62;color:white; {% endif %}">
                                    <div data-label="Topic_Title">
                                        {{ choice.title }}
                                    </div>
                                    <div data-label="Topic_MaxP">
                                        {% if choice.max_participants == 9999 %}
                                            unlimited
                                        {% else %}
                                        {{ choice.max_participants }}
                                        {% endif %}
                                    </div>
                                    <div data-label="Info_Btn">
                                        Info
                                    </div>
                                </li>
                                    </button>
                                </form>
                                {% if choice.id == chosenTopic %}
                                <form method="post" style="margin: 0; padding: 0;">
                                    {% csrf_token %}
                                    <div class="table-row" style="justify-content: center;display: flex;margin-bottom:0px; padding:3px;margin-left: 30px;margin-right: 30px;font-size: 13px;">
                                        <!-- Need to check if a motivational text is even needed-->
                                        <!-- Priority <= count(already_chosen_topics) -->
                                        <div>
                                            <label> Set your priority for this topic: <input type="text" name="priority">  </label> <br>
                                            <label style="display:flex;"> Submit a file as your motivational text:  <input style="margin-left:5px;display:flex;" type="file" name="myFile" accept=".pdf, .txt" multiple name="file"> </label>
                                            <button style="display:flex;" type="submit" name="select_topic_button" value="{{ chosenTopic }}" > Choose Topic </button>
                                        </div>
                                        <!-- <label style="margin-left:30px;"> Enter the TU-IDs of your group members, you want to join {{ choice.title }} with </label> <br>
                                        <input style="margin-left:30px;" type="text"> -->
                                    </div>
                                </form>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        <div class="table-row" style="justify-content: center;display: flex;margin-bottom:0px; padding:3px;margin-left: 30px;margin-right: 30px;font-size: 13px;">
                            There are no topics for this course right now
                        </div>
                        {% endif %}
                </div>
                {% endif %}
            {% endfor %}
    </ul>
</div>


{% endblock content %}