{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
Selection Page
{% endblock title%}


{% block content %}
<!-- This page contains some tables and a search function in order to find courses and topics -->

<!-- "search" contains an input of type search which takes any string and later displays all search results in the tables below  -->
<h2 xmlns="http://www.w3.org/1999/html">
    <div name="search" class="container-fluid" style="margin: 1em;">
        <input type="search">
        <i class="fa fa-search fa-1x" aria-hidden="true"></i>
    </div>
</h2>

<!-- /* Dropdown Button */ -->
<style>

.dropbtn {
    display: inline-block;
    padding: 25px 30px;
    text-align: center;
    color: black;
    background-color: white;
    border: none;
    outline: none;
  }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  outline: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    width: 100%;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn li {
    background-color: #0a3d62;
    color: white;}


</style>

<!-- Contains 3 tables which contain the faculties, courses and topics which can be selected -->
<style>
.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

/*.scrollmenu::-webkit-scrollbar { display: none;}*/

.scrollmenu form {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.scrollmenu button {
    display: inline-block;
    justify-content: space-between;
    margin-right: 5px;
    padding: 25px 30px;
    text-align: center;
    color: black;
    background-color: white;
    border: 3px solid #0C8FCC;
    border-radius: 20px;
}

.scrollmenu button:focus {
    outline: none;
    background-color: rgba(12, 143, 204, 0.5);
    color: white;
}

div.scrollmenu button:hover {
  background-color: rgba(12, 143, 204, 0.5);
  color: white;
}

</style>
<div class="container-fluid">
        <ul class="responsive-table">
            <li class="table-header" style="justify-content: center;">
                <div>Faculties</div>
            </li>
            <div class="scrollmenu" id="scrl">
                {% for faculty in faculties %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="faculty_button" value="{{ faculty.faculty }}">
                        {{ faculty.faculty }}
                    </button>
                </form>
                {% endfor %}
                <button> Ex1 </button>
                <button> Ex2 </button>
                <button> Ex3 </button>
                <button> Ex4 </button>
                <button> Ex5 </button>
                <button> Ex6 </button>
                <button> Ex7 </button>
                <button> Ex8 </button>
                <button> Ex9 </button>
                <button> Ex10 </button>
                <button> Ex11 </button>
                <button> Ex12 </button>
                <button> Ex13 </button>
                <button> Ex14 </button>
                <button> Ex15 </button>
                <button> Ex16 </button>
                <button> Ex17 </button>
                <button> Ex18 </button>
                <button> Ex19 </button>
                <button> Ex20 </button>
            </div>
            <!-- <script src="{% static 'js/horizontal-scroll.js' %}"> </script> -->
        </ul>
</div>

<div class="container-fluid">
    <ul class="responsive-table" style="margin-bottom:5px;">
            <li class="table-header" style="justify-content: center; margin-bottom:0px;">
                <div> Courses </div>
            </li>
    </ul>
    <ul class="responsive-table">
            <li class="table-header" style="padding: 3px;">
                <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">
                    Title
                </div>
                <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">
                    Type
                </div>
                <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">
                    Registration Start
                </div>
                <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">
                    Registration End
                </div>
                <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">Max
                    Participants
                </div>
                <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">CP
                </div>
            </li>

            {% for course in courses %}
            <div class="dropdown">
                <button class="dropbtn" type="submit" name="course_button" value="{{ course.id }}" style="margin: 0; padding: 0; width:100%">
                    <li class="table-row">
                        <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;"
                             data-label="Course_Title">
                            {{ course.title }}
                        </div>
                        <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;"
                             data-label="Course_Type">
                            {{ course.type }}
                        </div>
                        <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;"
                             data-label="Course_RegStart">
                            {{ course.registration_start.day }}.{{ course.registration_start.month }}.{{ course.registration_start.year }}
                        </div>
                        <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;"
                             data-label="Course_RegEnd">
                            {{ course.registration_deadline.day }}.{{ course.registration_start.month }}.{{ course.registration_start.year }}
                        </div>
                        <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;"
                             data-label="Course_MaxPart">
                            {% if course.max_participants == 9999 %}
                            unlimited
                            {% else %}
                            {{ course.max_participants }}
                            {% endif %}

                        </div>
                        <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;"
                             data-label="Course_CP">
                            {{ course.cp }}
                        </div>
                        <div class="dropdown-content table-row">
                            <ul class="responsive-table" style="margin-bottom:5px">
                                <li class="table-header" style="justify-content: center; margin-bottom:0px; padding:3px;">
                                    <div> Topics </div>
                                </li>
                            </ul>
                            <ul class="responsive-table">
                                <li class="table-header" style="padding: 0px;">
                                    <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">
                                        Title
                                    </div>
                                    <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">Max
                                    Participants
                                    </div>
                                    <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;white-space:nowrap;">
                                    Infobutton
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </button>

                <!--<div class="dropdown-content">

                    {% for choice in choiceSet %}
                <form method="post" style="margin: 0; padding: 0;">
                    {% csrf_token %}
                    <button class="ppsv-button" type="submit" name="topic_button" value="{{ choice.id }}">
                        <li class="table-row">
                            <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;"
                                 data-label="Topic_Title">
                                {{ choice.title }}
                            </div>
                            <div class="col" style="margin-left: 1em;margin-right: 1em;text-align:left;"
                                 data-label="Topic_MaxP">
                                {% if choice.max_participants == 9999 %}
                                    unlimited
                                {% else %}
                                {{ choice.max_participants }}
                                {% endif %}
                            </div>
                        </li>
                    </button>
                </form>
                {% endfor %}
                </div> -->
            </div>
            {% endfor %}
    </ul>
</div>


{% endblock content %}