{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
Selection Page
{% endblock title%}


{% block content %}
<!-- This page contains some tables and a search function in order to find courses and topics -->

<!-- "search" contains an input of type search which takes any string and later displays all search results in the tables below  -->
<!-- <h2>
    <div name="search_bar" class="container-fluid" style="margin: 1em;">
        <input type="search">
        <i class="fa fa-search fa-1x" aria-hidden="true"></i>
    </div>
</h2> -->

<!-- /* Dropdown Button */ -->
<style>

.dropbtn {
    display: inline-block;
    padding: 25px 30px;
    text-align: center;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
  }

.dropbtn-choose-topic {
    display: inline-block;
    padding: 25px 30px;
    text-align: center;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 3px;
 }

 .dropbtn-choose-topic:hover {
    background-color: rgba(37, 111, 37, 0.8);
    color: white;
 }

.dropbtn:focus {
    outline: none;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover li {
    background-color: #0a3d62;
    color: white;}


</style>

<!-- Contains 3 tables which contain the faculties, courses and topics which can be selected -->
<style>
.customized-scrollbar {
  display: block;
  overflow: auto;
}

.customized-scrollbar::-webkit-scrollbar {
  height: 7px;
  background-color: white;
}

.customized-scrollbar::-webkit-scrollbar-thumb {
    background: #0C8FCC;
    background-clip: content-box;
    border-radius: 6px;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 15px;
}

.scrollmenu form {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.scrollmenu button {
    display: inline-block;
    justify-content: space-between;
    margin: 5px;
    padding: 25px 30px;
    text-align: center;
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
}

div.scrollmenu button:hover {
  background-color: #0a3d62;
  color: white;
}

</style>
<div class="container-fluid">
        {% if success == 'success' %}
            <div class="alert alert-success">
                <strong>Your selection was successful !</strong> You can find and edit your chosen topics on the overview page.
            </div>
            <div class="alert alert-warning">
                <strong>Important !</strong> You need to set the priority and add a motivation text(when needed) to your selection in order to fully complete your selection. You can do this on the overview page.
            </div>
        {% endif %}

        {% if success == 'already_selected' %}
            <div class="alert alert-danger">
                <strong> Selection Failed!</strong> You have already selected this topic.
            </div>
        {% endif %}
        <ul class="responsive-table">
            <li class="table-header" style="justify-content: center;">
                <div>Faculties</div>
            </li>
            <div class="scrollmenu customized-scrollbar">
                {% for faculty in faculties %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="faculty_button" value="{{ faculty.faculty }}">
                        {{ faculty.faculty }}
                    </button>
                </form>
                {% endfor %}
            </div>
        </ul>
</div>

<div class="container-fluid">
    <ul class="responsive-table" style="margin-bottom:5px;">
            <li class="table-header" style="justify-content: center; margin-bottom:0px;">
                Courses
            </li>
    </ul>
    <ul class="responsive-table">
            <li class="table-header" style="padding: 3px;padding-left: 25px;padding-right: 25px;text-align:center">
                <div class="col-2">
                    Title
                </div>
                <div class="col-2">
                    Type
                </div>
                <div class="col-2">
                    Registration Start
                </div>
                <div class="col-2">
                    Registration End
                </div>
                <div class="col-2">
                    Max Participants
                </div>
                <div class="col-2">
                    CP
                </div>
            </li>
            {% for course in courses %}
                <form method="post" style="margin: 0px; padding: 0px;">
                    {% csrf_token %}
                    <button class="dropbtn" type="submit" name="course_button" {% if chosenCourse == course.id %} value="-1" {% else %} value="{{ course.id }}" {% endif %} style="margin: 0; padding: 0; width:100%">
                        <input name="hidden_info" type="hidden" value="{{ course.id }}">
                        <li class="table-row" {% if chosenCourse == course.id %} style="background-color:#0a3d62;color:white;" {% endif %}>
                            <div class="col-2" data-label="Course_Title">
                                {{ course.title }}
                            </div>
                            <div class="col-2" data-label="Course_Type">
                                {{ course.type }}
                            </div>
                            <div class="col-2" data-label="Course_RegStart">
                                {{ course.registration_start.day }}.{{ course.registration_start.month }}.{{ course.registration_start.year }}
                            </div>
                            <div class="col-2" data-label="Course_RegEnd">
                                {{ course.registration_deadline.day }}.{{ course.registration_start.month }}.{{ course.registration_start.year }}
                            </div>
                            <div class="col-2" data-label="Course_MaxPart">
                                {% if course.max_participants == 9999 %}
                                unlimited
                                {% else %}
                                {{ course.max_participants }}
                                {% endif %}
                            </div>
                            <div class="col-2" data-label="Course_CP">
                                {{ course.cp }}
                            </div>
                        </li>
                    </button>
                </form>
                {% if course.id == chosenCourse %}
                <div style="margin-bottom: 30px;">
                        <li class="table-header" style="justify-content: center;margin-bottom:0px; padding:3px;margin-left: 30px;margin-right: 30px;font-size: 12px;margin-bottom: 5px;">
                            Topics
                        </li>
                        <li class="table-header" style="padding:3px;margin-left: 30px;margin-right: 30px;font-size: 12px;margin-bottom: 5px;text-align:center">
                            <div class="col-3">
                                Title
                            </div>
                            <div class="col-3">
                                Max Participants
                            </div>
                            <div class="col-3">
                                Info Button
                            </div>
                        </li>
                        {% if choiceSet %}
                            {% for choice in choiceSet %}
                                <form method="post" style="margin: 0; padding: 0;">
                                {% csrf_token %}
                                    <button class="ppsv-button" type="submit" name="topic_button" {% if choice.id == chosenTopic %} value="-1" {% else %} value="{{ choice.id }}" {% endif %} >
                                        <input name="hidden_info" type="hidden" value="{{ choice.id }}">
                                        <li class="table-row" style="margin-bottom:0px; padding:3px;margin-left: 24px;margin-right: 24px;font-size: 12px;{% if choice.id == chosenTopic %} background-color:#0a3d62;color:white; {% endif %}">
                                    <div class="col-3"  data-label="Topic_Title" >
                                        {{ choice.title }}
                                    </div>
                                    <div class="col-3" data-label="Topic_MaxP" >
                                        {% if choice.max_participants == 9999 %}
                                            unlimited
                                        {% else %}
                                        {{ choice.max_participants }}
                                        {% endif %}
                                    </div>
                                    <div class="col-3" data-label="Info_Btn" >
                                        Info Button
                                    </div>
                                </li>
                                    </button>
                                </form>
                                {% if choice.id == chosenTopic %}
                                <form method="post" style="margin: 0; padding: 0;">
                                    {% csrf_token %}
                                        <div style="margin-left: 30px;margin-right: 30px;font-size: 13px;box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);">
                                            <button id="select_topic_button" class="dropbtn-choose-topic" style="padding:3px;margin-top:2px;width:100%;" type="submit" name="select_topic_button" value="{{ chosenTopic }}" > Choose Topic </button>
                                        </div>
                                        <!-- <label style="margin-left:30px;"> Enter the TU-IDs of your group members, you want to join {{ choice.title }} with </label> <br>
                                        <input style="margin-left:30px;" type="text"> -->
                                </form>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        <div class="table-row" style="justify-content: center;display: flex;margin-bottom:0px; padding:3px;margin-left: 30px;margin-right: 30px;font-size: 13px;">
                            There are no topics for this course right now
                        </div>
                        {% endif %}
                </div>
                {% endif %}
            {% endfor %}
    </ul>
</div>


{% if not success %}
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            var scrollpos = sessionStorage.getItem('scrollpos');
            if (scrollpos) {
                window.scrollTo(0, scrollpos);
                sessionStorage.removeItem('scrollpos');
            }
        });

        window.addEventListener("beforeunload", function (e) {
               sessionStorage.setItem('scrollpos', window.scrollY);
        });
    </script>
{% endif %}

{% endblock content %}