{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {% translate "My Selection" %} {% endblock %}

{% block your_selection_page_navbar_container %}
<form class="navbar-form" action="{% url 'frontend:your_selection' %}" style="float:left;padding-bottom: 0px">
    <button type="submit" class="navbar-btn" style="color:#0a3d62;padding-top:0.3em;padding-bottom:0.3em;"> {% translate "My Selection" %} </button>
</form>
{% endblock your_selection_page_navbar_container %}

{% block content %}
<form method="post" style="margin:0px;padding:0px;">
    {% csrf_token %}
    <div style="{% if info_selection %} display:flex; flex-direction: row; padding: 0px 25px; {% else %} display:flex; justify-content: center; {% endif %} ">
        <ul class="responsive-table" style="margin:0px;padding:0px;{% if info_selection %} flex:5; {% else %} width:60%;min-width:580px {% endif %}">
            {% for group_of_student, selections_of_collections in selections_of_collections_of_groups.items %}
            {# possible extension for automatic collection assignment #}
            <!--
            <button class="undecorated-btn" type="submit" name="assign_exclusives_to_matching_exclusive" value="{{ group_of_student.id }}">
                    <i class="fa fa-cog" aria-hidden="true" style="color:black;font-size:20px"></i>
            </button>
            -->
            <li class="table-header" style="padding: 15px;text-align:center;position:relative; margin-bottom: 20px;">
                <button class="undecorated-btn" type="submit" {% if not open_edit_collection_for_group == group_of_student.id  %} name="open_edit_collection" value="{{ group_of_student.id }}" {% endif %} style="position:absolute;left:15px;top:15px;" title="Edit Collections">
                    <i class="fa fa-cog {% if open_edit_collection_for_group == group_of_student.id %} spinning-icon {% endif %}" aria-hidden="true" style="color:white;font-size:20px"></i>
                </button>
                {# The cog icon will spin if it is pressed #}
                {% if open_edit_collection_for_group == group_of_student.id %}
                <style>
                    .spinning-icon {
                        -webkit-animation:spin 4s linear infinite;
                        -moz-animation:spin 4s linear infinite;
                        animation:spin 4s linear infinite;
                    }

                    @-moz-keyframes spin {
                        100% { -moz-transform: rotate(360deg);}
                    }
                    @-webkit-keyframes spin {
                        100% { -webkit-transform: rotate(360deg);}
                    }
                    @keyframes spin {
                        100% {
                            -webkit-transform: rotate(360deg);
                            transform:rotate(360deg);
                        }
                    }
                </style>
                {% endif %}
                <div>
                    {{ group_of_student.get_display }}
                </div>
                {% if group_of_student.size > 1 %}
                <i class="fa fa-users" aria-hidden="true" title="Group Overview" style="font-size:24px;position:absolute;z-index:2;right:20px;top:15px"></i>
                {% endif %}
            </li>
            <div style="display: flex; flex-direction: column; margin-bottom: 30px">
                {% for collection_number, selections in selections_of_collections.items %}
                {% if collection_number == 0 %}
                    {% if selections|length > 0 %}
                    <span style="position:relative">
                        Assign these topics to your desired collections
                    </span>
                    <div style="border: 3px solid rgba(94, 94, 94, 1); border-style: solid none solid none; padding: 20px 0px;margin-bottom:20px">
                        {% for selection in selections %}
                        <li class="table-row" style="position:relative;padding-top:20px;padding-bottom:14px;{% if selections|last == selection %} margin-bottom: 0px; {% endif %}">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size:20px;color:orange;position:absolute;z-index:2;left:-30px"
                                   title="You need to assign this topic to a collection">
                                </i>
                                <div style="background-color:white;padding-left:5px;
                                        padding-right:5px;margin-left:20px;
                                        white-space: nowrap;border-style: solid;
                                        border-width: 1px;border-color:rgba(10,61,98,0.2);
                                        position:absolute;z-index:2;top:-13px;left:15px";>
                                {{ selection.topic.course.title }}
                                </div>
                                <div class="col-3" style="overflow:hidden;text-overflow: ellipsis;">
                                    {{ selection.topic.title }}
                                </div>
                                <div>
                                    <select name="collection_input{{ selection.id }}" style="position:relative; bottom: 3px; width:150px;text-align:center">
                                        <option value="0"> {% translate "Choose collection" %} </option>
                                        {% with ''|center:group_of_student.collection_count as range %}
                                        {% for _ in range %}
                                        <option value="{{ forloop.counter }}"> Collection {{ forloop.counter }} </option>
                                        {% endfor %}
                                        {% endwith %}
                                    </select>
                                    <button name="change_collection_button" value="{{ group_of_student.id }}|{{ collection_number }}|{{ selection.id }}" type="submit" title="Move to selected collection" style="background-color:transparent; outline:none; border: none;height:25px;width:25px;padding:0px"> <i class="fa fa-check-square" aria-hidden="true" style="position:relative; font-size:22px;color:green"></i> </button>
                                </div>
                                <div class="col-3">
                                        <button name="remove_topic_button" value="{{ selection.id }}|{{ collection_number }}" style="white-space:nowrap; background-color:red; color:white; border:none; border-radius:5px" type="submit"> Remove Topic </button>
                                </div>
                        </li>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% else %}
                <span style="position:relative">
                    Collection {{ collection_number }}  {% if selections|length > 0 and selections.0.topic.course.collection_exclusive %} exclusive for topics of course "{{ selections.0.topic.course.title }}" {% endif %}
                    {% if open_edit_collection_for_group == group_of_student.id and selections_of_collections.items|length > 2 %}
                    <button class="undecorated-btn" type="submit" {% if selections|length > 0 %} name="ask_remove_collection" value="{{ open_edit_collection_for_group }}|{{ collection_number }}" {% else %} name="remove_collection" value="{{ open_edit_collection_for_group }}|{{ collection_number }}" {% endif %} title="Remove collection" style="position:absolute;top:2px;margin-left:5px" >
                        <i class="fa fa-trash" aria-hidden="true" style="color:red;font-size:18px"> </i>
                    </button>
                    {% endif %}
                </span>
                <div style="border: 3px solid rgba(94, 94, 94, 1); border-style: dashed none dashed dashed; padding: 20px 0px; {% if not forloop.last or open_edit_collection_for_group == group_of_student.id %} margin-bottom: 20px; {% endif %} {% if ask_remove_group == group_of_student.id and ask_remove_collection == collection_number %} margin-bottom: 0px; {% endif %}" >
                    {% for selection in selections %}
                    <li class="table-row" style="position:relative;padding-top:20px;padding-bottom:14px;{% if selections|last == selection %} margin-bottom: 0px; {% endif %}">
                            <div style="display:inline-grid;grid-column-start: 1;grid-column-end: 3;position:absolute;z-index:2;left:1%;{% if selection.priority == 1 %} top:30 % {% else %} top:8% {% endif %};font-size:16px;">
                                {% if selection.priority != 1 %}
                                <button name="up_priority" value="{{ selection.id }}|{{ collection_number }}" type="submit" style="background-color:transparent;outline:none;border:none;padding:0px;grid-row:1;grid-column:1;">
                                    <i class="fa fa-arrow-up" aria-hidden="true" style="color:rgba(94, 94, 94, 1)"></i>
                                </button>
                                {% endif %}
                                <div style="grid-row:2;grid-column:1;margin-left:3px;color:rgba(10,61,98,1);"> {{ selection.priority }} </div>
                                {% if selection.priority != selections|length%}
                                <button name="down_priority" value="{{ selection.id }}|{{ collection_number }}" type="submit" style="background-color:transparent;outline:none;border:none;padding:0px;grid-row:3;grid-column:1;">
                                    <i class="fa fa-arrow-down" aria-hidden="true" style="color:rgba(94, 94, 94, 1)"></i>
                                </button>
                                {% endif %}
                            </div>
                            {% if not selection.priority or not selection.motivation and selection.topic.course.motivation_text %}
                                <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size:20px;color:orange;position:absolute;z-index:2;left:-30px "
                                   {% if not selection.priority and not selection.motivation and selection.topic.course.motivation_text %}
                                       title="You need to set the priority for this topic and write a motivation text."
                                       {% elif not selection.priority %}
                                       title="You need to set the priority for this topic."
                                       {% elif not selection.motivation and selection.topic.course.motivation_text %}
                                       title="You need to write a motivation text."
                                   {% endif %} >
                                </i>
                            {% endif %}
                            <div style="background-color:white;padding-left:5px;
                                        padding-right:5px;margin-left:20px;
                                        white-space: nowrap;border-style: solid;
                                        border-width: 1px;border-color:rgba(10,61,98,0.2);
                                        position:absolute;z-index:2;top:-13px;left:15px";>
                                {{ selection.topic.course.title }}
                            </div>
                            <div class="col-3" style="overflow:hidden;text-overflow: ellipsis;">
                                {{ selection.topic.title }}
                            </div>
                            {% if open_edit_collection_for_group == group_of_student.id %}
                                {% if not selections.0.topic.course.collection_exclusive %}
                                <div>
                                    <select name="collection_input{{ selection.id }}" style="position:relative; bottom: 3px; width:140px;text-align:center">
                                        <option value="0"> {% translate "Choose collection" %} </option>
                                        {% with ''|center:group_of_student.collection_count as range %}
                                        {% for _ in range %}
                                        <option value="{{ forloop.counter }}"> Collection {{ forloop.counter }} </option>
                                        {% endfor %}
                                        {% endwith %}
                                    </select>
                                    <button name="change_collection_button" value="{{ group_of_student.id }}|{{ collection_number }}|{{ selection.id }}" type="submit" title="Move to selected collection" style="background-color:transparent; outline:none; border: none;height:25px;width:25px;padding:0px"> <i class="fa fa-check-square" aria-hidden="true" style="position:relative; font-size:22px;color:green"></i> </button>
                                </div>
                                {% endif %}
                            {% endif %}
                            <div class="col-2" style="margin-right:10px">
                                {% for info in motivation_text_required %}
                                    {% for selection_in_required,required in info %}
                                        {% if selection_in_required.id == selection.id and required %}
                                                {% if selection.id == open_motivation_text_for_selection %}
                                                     <button class="button" name="save_motivation_text_button" value="{{ selection.id }}"
                                                            type="submit" style="margin:0px ;white-space:nowrap; background-color:green; color:white; border:none; border-radius:5px;">
                                                            {% translate "Save Motivation Text" %}
                                                     </button>
                                                {% else %}
                                                    <button class="button" id="edit_motivation_text_button" name="edit_motivation_text_button" value="{{ selection.id }}"
                                                            type="submit" style="margin:0px ;white-space:nowrap; background-color:#0C8FCC; color:white; border:none; border-radius:5px;">
                                                            {% translate "Edit Motivation Text" %}
                                                    </button>
                                                {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            <div class="col-2">
                                    <button name="remove_topic_button" value="{{ selection.id }}|{{ collection_number }}" style="white-space:nowrap; background-color:red; color:white; border:none; border-radius:5px" type="submit"> {% translate "Remove Topic" %} </button>
                            </div>
                            <div class="col-1" >
                                <button name="{% if not info_selection.id == selection.id%}info_button{% else %}close_info_button{% endif %}" value="{{ selection.id }}" type="submit" style="background-color:transparent; outline:none; border: none;height:30px;width:30px;padding:0px">
                                    <i class="fa fa-info-circle fa-1x icon-cog color" style="bottom:3px; position:relative; font-size:30px;color:rgba(94, 94, 94, 1)"
                                       aria-hidden="true"
                                       title="Show Details">
                                    </i>
                                </button>
                            </div>
                        </li>
                        {% if selection.id == open_motivation_text_for_selection %}
                        <input name="open_motivation_text_for_selection" value="{{ open_motivation_text_for_selection }}" hidden>
                        <li class="table-row">
                            <div style="display: flex; flex-direction: column; width: 100%;">
                                <textarea id="motivation_text" name="motivation_text" style="width: 100%;" rows="12">{% if motivation_text_of_selection %}{{motivation_text_of_selection}}{% endif %}</textarea>
                                <div style="display: flex; flex-direction: row; width: 100%;">
                                    <button class="button" name="cancel_motivation_save"
                                        type="submit" style="width: 50%; margin:3px ;white-space:nowrap; background-color:grey; color:white; border:none; border-radius:5px;">
                                        Discard Changes
                                    </button>
                                    <button class="button" name="save_motivation_text_button" value="{{ selection.id }}"
                                        type="submit" style="width: 50%; margin:3px ;white-space:nowrap; background-color:green; color:white; border:none; border-radius:5px;">
                                        Save Motivation Text
                                    </button>
                                </div>
                             </div>
                        </li>
                        <!-- allows the usage of TABs in textAreas -->
                        <script type="text/javascript">
                            var myInput = document.getElementById("motivation_text");
                            if(myInput.addEventListener ) {
                                myInput.addEventListener('keydown',this.keyHandler,false);
                            } else if(myInput.attachEvent ) {
                                myInput.attachEvent('onkeydown',this.keyHandler); /* damn IE hack */
                            }

                            function keyHandler(e) {
                                var TABKEY = 9;
                                if(e.keyCode == TABKEY) {
                                    this.value += "    ";
                                    if(e.preventDefault) {
                                        e.preventDefault();
                                    }
                                    return false;
                                }
                            }
                        </script>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% if ask_remove_group == group_of_student.id and ask_remove_collection == collection_number %}
                <div class="alert-warning alert-dismissible" role="alert" style="margin-bottom:25px;display:flex; justify-content:center;padding:10px">
                        <label style="display:flex;font-weight:800;margin-bottom:0px;justify-content:center;padding:5px" >
                            If you delete this collection, all the selections will be deleted as well.
                        </label>
                        <button name="remove_collection" value="{{ ask_remove_group }}|{{ ask_remove_collection }}" style="border:none;outline:none;color:white;background-color:red;padding: 3px 10px">
                            Delete Collection
                        </button>
                </div>
                {% endif %}
                {% endfor %}
                {% if open_edit_collection_for_group == group_of_student.id %}
                    <span style="position:relative;color:#ffa826" >
                        Add Collection {{selections_of_collections.items|length}}
                        <button class="undecorated-btn" type="submit" name="add_collection" value="{{ open_edit_collection_for_group }}" title="Add new collection" style="position:absolute;top:2px;margin-left:5px" >
                            <i class="fa fa-plus-square" aria-hidden="true" style="color:green;font-size:18px"> </i>
                        </button>
                    </span>
                    <div style="position:relative;border: 3px solid #ffa826; border-style: dashed none dashed dashed; padding: 20px 0px; margin-bottom: 20px;">
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </ul>
    {% if info_selection %}
    <div style="flex:3">
        <input name="open_selection_info" value="{{ info_selection.id }}" hidden>
        <input name="open_course_info" value="{{ open_course_info }}" hidden>
        <div id="topic_info" style="min-width:300px;
                    overflow: hidden;margin-left:30px;
                    border-style:solid;border-color: rgba(0,0,0,0.3);background-color:white;
                    border-width:0px;padding-right:35px;padding-top:10px;box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);{% if info_selection %} grid-column:2; {% endif %}">
            <ul class="responsive-table" style="min-width:300px">
                <input name="selection" value="{% if open_course_info %} True {% else %} False {% endif %}|{{ info_selection.id }} " hidden>
                <li class="table-header" style="padding: 8px;text-align:center;position:relative;background-color:rgba(94, 94, 94, 1);{% if open_course_info %} margin-bottom:0px {% else %} margin-bottom:20px {% endif %};">
                    <button name="course_info_button" class="button" type="submit"
                            style="color:white;background-color:transparent;width:100%;border:none;outline:none;text-transform: capitalize;font-size: 14px;overflow:hidden;text-overflow: ellipsis;margin-left:30px">
                        {{ info_selection.topic.course.title }}
                        <i class="{% if open_course_info %} fa fa-caret-up {% else %} fa fa-caret-down {% endif %}" aria-hidden="true" style="font-size:24px; position:absolute; z-index:2;left:10px;top:5px"></i>
                    </button>
                </li>
                {% if open_course_info %}
                    <div style="margin-left:10px;margin-right:10px;margin-bottom:10px;background-color: transparent;box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);justify-content: flex-start; padding:5px; white-space: normal;">
                        <p> <label style="font-weight:500"> {% translate "Organizer" %}: </label> {{ info_selection.topic.course.organizer }} </p>
                        <p> <label style="font-weight:500"> {% translate "Course Type" %}: </label> {{ info_selection.topic.course.get_type_display }} </p>
                        <p> <label style="font-weight:500"> {% translate "Faculty" %}: </label> {{ info_selection.topic.course.get_faculty_display }} </p>
                        <p> <label style="font-weight:500"> {% translate "Language" %}: </label> Sprache </p>
                        <p> <label style="font-weight:500"> {% translate "Min | Max Participants" %}: </label> {% if info_selection.topic.course.unlimited %} - | - {% else %} - | {{ info_selection.topic.course.max_participants }} {% endif %} </p>
                        <p> <label style="font-weight:500"> {% translate "Registration" %}: </label> {{ info_selection.topic.course.registration_start }} - {{ info_selection.topic.course.registration_deadline }} </p>
                        <p> <label style="font-weight:500"> CP: </label> {{ info_selection.topic.course.cp }} </p>
                        <p> <label style="font-weight:500"> {% translate "Motivation Text" %}: </label> {% if info_selection.topic.course.motivation_text %} required {% else %} not required {% endif %}</p>
                        <label style="font-weight:500"> {% translate "Description" %} </label>
                        <p> {{ info_selection.topic.course.description }} </p>
                    </div>
                {% endif %}
                <li class="table-header" style="padding: 8px;text-align:center;position:relative;background-color:rgba(94, 94, 94, 1);margin-bottom:0px;text-transform: capitalize;font-size: 14px;">
                    <div style="overflow:hidden;text-overflow: ellipsis;margin-left:30px"> {{ info_selection.topic.title }} </div>
                    <i class="fa fa-caret-down" aria-hidden="true" style="font-size:24px; position:absolute; z-index:2;left:10px;top:5px" hidden></i>
                </li>
                <div style="margin-left:10px;margin-right:10px;background-color: transparent;box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);justify-content: flex-start; padding:5px">
                    <p> <label style="font-weight:500"> Min. | Max. Participants: </label> {% if info_selection.topic.course.unlimited %} - | - {% else %} - | {{ info_selection.topic.max_participants }} {% endif %} </p>
                    <label style="font-weight:500"> Description </label>
                    <p> {{ info_selection.topic.description }} </p>
                    <p> {% if info_selection.topic.file %} <a href="{{ BASE_DIR }}/media/{{ info_selection.topic.file }}">information file</a> {% endif %} </p>
                </div>
            </ul>
        </div>
    </div>
    {% endif %}
    </div>
</form>

<!-- The scroll position is saved and loaded when the page submits a form but if an error message is thrown the y-scroll-position will be reset to 0 -->
<script>

    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = sessionStorage.getItem('scrollpos');
        {% if not error_message %}
            if (scrollpos) {
                window.scrollTo(0, scrollpos);
                sessionStorage.removeItem('scrollpos');
            }
        {% endif %}

    });

    window.addEventListener("beforeunload", function (e) {
           sessionStorage.setItem('scrollpos', window.scrollY);
    });

</script>

{% endblock content %}